<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="utf-8" />
			<meta http-equiv="Content-Script-Type" content="text/javascript" />
			<meta http-equiv="Content-Style-Type" content="text/css" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />			
			<title>PARK AVENUE</title>
			<link rel="stylesheet" type="text/css" href="/css/style.css" />
			<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.23.custom.css" />
			<script type='text/javascript' src='/js/jquery-1.8.0.min.js'></script>
			<script type='text/javascript' src='/js/jquery-ui-1.8.23.custom.min.js'></script>
			<script type='text/javascript' src='/js/jquery.moveTo.js'></script>
			<script type='text/javascript' src='/js/underscore-min.js'></script>
			<script type='text/javascript' src='/js/ICanHaz.min.js'></script>
			<script type='text/javascript' src='/js/sprintf-0.7-beta1.js'></script>
			<script type='text/javascript' src='/js/foobars.js'></script>
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block body2 %}{% endblock %}
		{% block body3 %}{% endblock %}
	</body>
</html>