{# -*- utf-8; -*- #}
{% extends "layouts/base00.html" %}
{% block body %}
<div class="Wrap">
	<div class="headerbx">
		<div class="gnbx clearfx">
			<h1><a href="/"><img src="/images/ti_h1.gif" alt="Park Avenue" /></a></h1>
			<ul class="gnb">
				<li class="m1"><a href="/a/avenue/company">PARK AVENUE</a></li>
				<li class="m2"><a href="/a/avenue/HairService2">SERVICE</a></li>
				<li class="m3"><a href="/board/list/staff_gallery">STAFF</a></li>
				<li class="m4"><a href="/board/list/starwedding">WEDDING</a></li>
				<!-- <li class="m5"><a href="javascript:alert('준비중입니다.')">GALLERY</a></li> -->
				<li class="m6"><a href="/a/avenue/custormer">SUPPORT</a></li>
			</ul>
		</div>
        <ul class="loginbx">
            {% if login %}
                <li class="l1"><a href="/member/logout">SIGN OUT</a></li>
                <!--<li class="l2"><a href="/member/changePasswordForm">비밀번호 변경</a></li>-->
                <li class="l3"><a href="/member/editProfileForm">프로필 수정</a></li>
            {% else %}
				<li><a href="/member/agrees">JOIN</a></li>
				<li><a href="/member/loginForm">SIGN IN</a></li>
                <!-- <li><a href="/member/findIdForm">아이디 찾기</a></li>
                <li><a href="/member/findPwForm">비밀번호 찾기</a></li> -->
            {% endif %}
		</ul>

		<ul class="snsbx">
            {% if not login %}
				<li class="s1"><a href="http://www.facebook.com/pages/%ED%8C%8C%ED%81%AC%EC%97%90%EB%B9%84%EB%89%B4/256201221153227" target="_blank">facebook</a></li>
				<li class="s2"><a href="#" target="_blank">twitter</a></li>
			{% endif %}
		</ul>
	</div>
	
	{% block contents %}{% endblock %}

	<div class="footerbx">
		<address><strong>COPYRIGHTS</strong> 2012 by Park Avenue all right reserved.</address>
		<p class="addr"><strong>PARK AVENUE</strong> JJ B/D 3F. 650. Shinsa-dong. gangnam-gu Seoul. Korea Tel.02.518.4004 | Fax 02.518.4223</p>
	</div>
</div>

<div id="mask"></div>

<script type="text/javascript">

</script>

{% endblock %}
