<ul class="gnb">
	<li class="m1"><a href="/a/avenue/company">PARK AVENUE</a></li>
	<li class="m2"><a href="/a/avenue/HairService">SERVICE</a></li>
	<li class="m3"><a href="/board/list/staff_gallery">STAFF</a></li>
	<li class="m4"><a href="/board/list/starwedding">WEDDING</a></li>
	<!-- <li class="m5"><a href="javascript:alert('준비중입니다.')">GALLERY</a></li> -->
	<li class="m6"><a href="/board/list/notice">SUPPORT</a></li>
</ul>