<ul class="subMenu">
	<li><a href="/a/avenue/custormer">고객센터</a></li>
	<li><a href="/board/list/notice">공지사항</a></li>
	{# NOTE: 예약상담 관리자, 일반회원 구분 #}
	{% if login_staff %}
		<li><a href="/board/list/reservation">예약상담</a></li>
	{% else %}
		<li><a href="/board/writeForm/reservation">예약상담</a></li>
	{% endif %}
	<li><a href="/board/list/free">자유게시판</a></li>
</ul>