{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">
	<form action='/board/editAction/{{board.id}}/{{post.id}}' method='POST' enctype="multipart/form-data">
		<div class="bbsWrite resvtTb">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="15%" />
					<col width="*" />
				</colgroup>
				<tbody>
					<tr>
						<td><label for='title'>제목</label></td>
						<td><input type='text' id='title' name='title' value='{{post.title}}'></td>
					</tr>
					<tr>
						<td><label for="contents">내용</label></td>
						<td><textarea id='contents' name='contents'>{{post.contents}}</textarea></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="savebx"><input type='image' src="/images/bt_res_save.gif" value='저장' /></div>
	</form>
</div>
{% endblock %}