{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">


	<form action='/board/editAction/{{board.id}}/{{post.id}}' method='POST' enctype="multipart/form-data">
				
		<label for='title'>TITLE:</label>
		<input type='text' id='title' name='title' value='{{post.title}}'>
		<br>
		
		<label for='contents'>CONTENTS:</label>
		<br>
		<textarea id='contents' name='contents'>{{post.contents}}</textarea>
		<br>
		
		{# NOTE: 기존 첨부 네용들 지우는 내용 #}
		<input type='hidden' name='del_attachments' value=''>
		<ul id='del_attachments'>
		{% for a in attachments %}
			<li data-attachmentId='{{a.id}}'>
				<img width="10%" height="10%" src='/boardDownloadAttachment.php?id={{a.id}}'>
				<input type='button' value='[삭제]'
					onclick="javascript:deleteAttachment('{{a.id}}')">
			</li>
		{% endfor %}				
		</ul>
		<br>
		
		{# NOTE: 파일 업로드 항목들 (동적/추가 삭제) #}
		<span id='file_uploads'></span><br>
		<input type="button" value='[추가]'
			onclick="javascript:addNewAttachmentRow()">
		<br>
		
		<input type='submit' value='저장'>

	</form>


</div>


{# NOTE: 요게 파일 업로드 한행씩의 내용들. (요긴 꼭 raw으로 감싸삼.) #}
{% raw %}
<script type='text/html' id='newAttachmentRowTmpl'>
	<span id='file_{{newId}}'>
		<label for='file_{{newId}}'>첨부파일:</label>
		<input type='file' id='file_{{newId}}' name='file_{{newId}}'>
		<input type='button' value='[삭제]'
			onclick="javascript:deleteAttachmentRow('file_{{newId}}')">
		<br>
	</span>
</script>
{% endraw %}

<script type='text/javascript'>

var addNewAttachmentRow = function(){
	var newId = UUIDv4().replace(/\-/g, '');
	//console.log(newId);
	var s = ich.newAttachmentRowTmpl({'newId': newId});	
	$(s).appendTo('#file_uploads');
};

var deleteAttachmentRow = function(attachmentRowId){
	$('span#' + attachmentRowId).remove();
};


</script>


{# NOTE: 요기는 첨부 삭제하기에 대한 내용들. #}
{% raw %}
<script type='text/javascript'>

var deleteAttachment = function(attachmentId){
	if(confirm('첨부 사진을 삭제하시겠습니까? (복구는 불가능합니다.)')){
		// 일단 처리를 위해서 지울 첨부 번호들을 모으기.
		var $del_a = $('input[name=del_attachments]');
		var del_a = $del_a.val();
		$del_a.val(del_a + ',' + String(attachmentId));
		// 실제로 화면에서 빼기
		$('ul#del_attachments > li').each(function(idx, el){
			var $li = $(el);
			if($li.attr('data-attachmentId') == attachmentId){
				$li.hide();
			}
		});
	}
};

</script>
{% endraw %}



{% endblock %}

