{% extends "layouts/base01.html" %}
{% block contents %}
{% import "layouts/macros.html" as macros %}
{% include "board/board.js.html" %}
<div class="Contents">
	<div class="Weddbx clearfx">
		<h2>Customer Gallery</h2>

		<ul class="subMenu">
			<li> <a href="/board/list/starwedding">Star Gallery</a>
			<li> <a href="/board/list/customer_gallery">Customer Gallery</a></li>
		</ul>
		<script type="text/javascript">
			$('.subMenu > li > a').eq(1).addClass('on');
		</script>
		<div class="Wedbox">
			<div class="Wedphoto"><!-- <img src="/images/vi_wedding.jpg" alt="" width="604" height="340"  /> -->
				<div id="flashContent">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="604" height="340" id="parkavn" align="middle">
						<param name="movie" value="/movie/parkavn.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="/movie/parkavn.swf" width="604" height="340">
							<param name="movie" value="/movie/parkavn.swf" />
							<param name="quality" value="high" />
							<param name="bgcolor" value="#ffffff" />
							<param name="play" value="true" />
							<param name="loop" value="true" />
							<param name="wmode" value="transparent" />
							<param name="scale" value="showall" />
							<param name="menu" value="true" />
							<param name="devicefont" value="false" />
							<param name="salign" value="" />
							<param name="allowScriptAccess" value="sameDomain" />
						<!--<![endif]-->
							<a href="http://www.adobe.com/go/getflash">
								<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
							</a>
						<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
					</object>
				</div>
			</div>
			<div class="WedCont">
				<dl class="Wtitle">

					<dt>Introduction</dt>
					<dd>29일 한 온라인 커뮤니티에 리듬체조 선수 24명의 증명사진이 올라왔다. 금메달 0순위로 손꼽히는 예브게니아 카나예바(22·러시아)부터 손연재까지 얼굴이 반짝반짝 빛난다. 그 중에서도 특히 맨 아랫줄에 있는 손연재가 눈에 띈다. 하얀 얼굴에 선한 눈매, 생긋 웃는 미소까지 청순함이 느껴진다.</dd>
				</dl>

				<ul class="sGallery clearfx">
				{% for p in pagination %}						
				{% if getFirstAttachmentId(p.id) %}
					<li><a href="javascript:popupView('{{board_id}}', '{{p.id}}')"><img src='/boardDownloadAttachment.php?id={{getFirstAttachmentId(p.id)}}&thumbWH=41' width="41" height="41" alt="" /></a></li>
				{% else %}
					<li><a href="javascript:popupView('{{board_id}}', '{{p.id}}')"><img src="/images/bg_noimg.gif" alt="이미지 없음"></a></li>
				{% endif %}
				{% endfor %}
				{% if pagination|length < 1 %}
					<li><b>게시물이 없습니다.</b></li>
				{% endif %}						
				</ul>

				{# 페이징 #}
				<div class="pagingbx">
					<span><a href='{{macros.boardListLink(board_id, 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prevx.gif" alt="맨처음" /></a></span>
					{% if curpage > 1 %}    
						<span><a href='{{macros.boardListLink(board_id, curpage - 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prev.gif" alt="이전" /></a></span>
					{% else %}
						<span><img src="/images/bt_prev.gif" alt="이전" /></span>
					{% endif %}
			
					{% for pn in page_numbers %}
						{% if pn == curpage %}
							<strong>{{pn}}</strong>
						{% else %}
							<a href='{{macros.boardListLink(board_id, pn, search, by_id, by_name, by_title, by_contents)}}'>{{pn}}</a>
						{% endif %}
					{% endfor %}
			
					{% if (curpage + 1) <= pagination_info.total_pages %}
						<span><a href='{{macros.boardListLink(board_id, curpage + 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_next.gif" alt="다음" /></a></span>
					{% else %}
					<span><img src="/images/bt_next.gif" alt="다음" /></span>
					{% endif %}
					<span><a href='{{macros.boardListLink(board_id, pagination_info.total_pages, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_nextx.gif" alt="맨마지막" /></a></span>
				</div>

				{# write #}
				{# NOTE : 관리자만 작성 가능하게 처리해 주세요 #}
				{% if login_staff %}
				<div class="btn"><a href='/board/writeForm/{{board_id}}'><img src="/images/bt_boardWrite.gif" alt="" /></a></div>
				{% endif %}
			</div>
		</div>
		
		{# 게시글 목록 #}
		<ul>
				<li>
					<a href="/board/view/{{board_id}}/{{p.id}}">
						<!-- {% if getFirstAttachmentId(p.id) %}
							<img width='10%' src='/boardDownloadAttachment.php?id={{getFirstAttachmentId(p.id)}}'>
						{% endif %} -->
					</a>
					<!--작성자 [{{p.member.id}}] [{{p.member.name}}] [{{p.member.email}}]
					COMMENTS[{{p.comments.count}}]
					{{fmtYearMoDaHoMiSe(p.ctime)}}
					조회수[{{p.read_count}}]-->
					{#
					<a href="/board/editForm/{{board_id}}/{{p.id}}">
						[EDIT]
					</a>
					<a href="javascript:deletePost('{{board_id}}','{{p.id}}')">
						[DEL] 				
					</a>
					#}
				</li>
		
		</ul>

	</div>
</div>
{# TODO: 보기팝업 불러와야됨. #}
<div class="StaffPOP window clearfx" style="display:none;;">
</div>

<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(3).find('a').addClass('on');
$(".sGallery > li:eq(0)").css({"margin-left":0});
$(".sGallery > li:nth-child(8n)").css({"margin-left":0});

var popupView = function(board_id, post_id){
	$.get('/board/view/' + board_id + '/' + post_id, function(data) {
		$('.window').html(data);
	});
	
	var viewpop = $('.window');
	maskPopUp();
	var winH = $(window).height();
	var winW = $(window).width();
	var subwinW = $('.Wedbox').width();

	$(viewpop).css('top',  winH/2-$(viewpop).height()/2);
	$(viewpop).css('left', subwinW/2-$(viewpop).width()/2);
	$(viewpop).fadeIn(2000); 
};

var maskPopUp = function(){
	var maskHeight = $(document).height();
	var maskWidth = $(window).width();
	$('#mask').css({'width':maskWidth,'height':maskHeight});
	$('#mask').fadeIn(1000);	
	$('#mask').fadeTo("slow",0.8);
};

var close = function(){
	$('#mask').hide();
	$('.window').hide();
};
</script>
{% endblock %}

