{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">
	<h2>Customer Gallery</h2>

	<form action='/board/writeAction/{{board.id}}' method='POST' enctype="multipart/form-data">
		<div class="wrtTb">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="15%" />
					<col width="*" />
				</colgroup>
				<tbody>
					<tr>
						<td><label for='title'>제목</label></td>
						<td><input type='text' id='title' name='title'></td>
					</tr>
					<tr>
						<td><label for="file">CONTENTS</label></td>
						<td><textarea id='contents' name='contents'></textarea></td>
					</tr>
					<tr>
						<td><label for="contents">첨부파일</label></td>
						{# NOTE: 파일 업로드 항목들 (동적/추가 삭제) #}
						<td><span id='file_uploads'></span><input type="button" value='[추가]' onclick="javascript:addNewAttachmentRow()"></td>
					</tr>

				</tbody>
			</table>
		</div>

		<div class="savebx">
			<input type='image' src="/images/bt_res_save.gif" value='저장' />
		</div>
	</form>
</div>

{# NOTE: 요게 파일 업로드 한행씩의 내용들. (요긴 꼭 raw으로 감싸삼.) #}
{% raw %}
<script type='text/html' id='newAttachmentRowTmpl'>
	<span id='file_{{newId}}'>
		<label for='file_{{newId}}'>첨부파일:</label>
		<input type='file' id='file_{{newId}}' name='file_{{newId}}'>
		<input type='button' value='[삭제]'
			onclick="javascript:deleteAttachmentRow('file_{{newId}}')">
		<br>
	</span>
</script>
{% endraw %}

<script type='text/javascript'>

var addNewAttachmentRow = function(){
	var newId = UUIDv4().replace(/\-/g, '');
	//console.log(newId);
	var s = ich.newAttachmentRowTmpl({'newId': newId});	
	$(s).appendTo('#file_uploads');
};

var deleteAttachmentRow = function(attachmentRowId){
	$('span#' + attachmentRowId).remove();
};


</script>

{% endblock %}