{% extends "layouts/base01.html" %}
{% block contents %}
	<div class="Contents">
		<div class="boardCont">
			<h1>게시판 관리</h1>
			<table>
				<colgroup>
					<col width="*" />
					<col width="15%" />
					<col width="15%" />
				</colgroup>
				<tbody>
					{% for b in boards %}
					<tr>
						<th>{{b.title}} ({{b.id}})</th>
						<td class="c1"><a href='/board/list/{{b.id}}' target='_blank'>[게시물 보기/관리]</a></td>
						<td class="c2" style='text-align:center;'>
							<a href='/admin/editBoardForm/{{b.id}}' target='_blank'>[게시판/갤러리 관리]</a>
							<br>
							<a href='/admin/sortPosts/{{b.id}}' target='_blank'>[게시물 정렬]</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
