{% extends "layouts/base01.html" %}
{% block contents %}
	<div class="Contents">
		<h1>TODO: 회원 관리</h1>

		<form action='/admin/editMemberAction/{{member.id}}' method='POST'>
		<table class="admMemCont">
			<colgroup>
				<col width="30%" />
				<col width="70%" />
			</colgroup>
			<tbody>
				<tr>
					<th>ID:</th>
					<td>{{member.id}}</td>
				</tr>
				
				<tr>
					<th>NAME:</th>
					<td>{{member.name}}</td>
				</tr>
				
				<tr>
					<th>EMAIL:</th>
					<td>{{member.email}}</td>
				</tr>
				
				<tr>
					<th>이메일 수신?</th>
					<td>{{member.email_rcpt_yn}}</td>
				</tr>
				
				<tr>
					<th>공개 프로필?</th>
					<td>{{member.public_profile_yn}}</td>
				</tr>
				
				<tr>
					<th>생년월일</th>
					<td>{{member.birth_year}}/{{member.birth_month}}/{{member.birth_day}} 음력?({{member.birth_luna_yn}})</td>
				</tr>



				<tr>
					<th><label for='admin_yn'>관리자 권한</label></th>
					<td><input type='checkbox' id='admin_yn' name='admin_yn' value='Y' {% if member.admin_yn == 'Y' %}CHECKED{% endif %}></td>
				</tr>
					
				<tr>
					<th><label for='staff_yn'>Staff 권한</label>	</th>
					<td><input type='checkbox' id='staff_yn' name='staff_yn' value='Y' {% if member.staff_yn == 'Y' %}CHECKED{% endif %}></td>
				</tr>
			</tbody>
		</table>

		<div class="savebx">
			<input type='image' src="/images/bt_res_save.gif" value='저장' />
			<a href='javascript:deleteMember("{{member.id}}")'><img src="/images/bt_del_admin.gif" alt="삭제" /></a>
		</div>
		</form>
	</div>
	<script type='text/javascript'>
		var deleteMember = function(memberId){
			if(confirm('회원을 삭제하시겠습니까?\n(삭제시 해당 회원의 글, 댓글 모두 삭제되며, 복구가 불가능합니다.)')){
				location.href='/admin/deleteMemberAction/' + memberId;
			}
		}
	</script>
{% endblock %}