{% extends "layouts/base01.html" %}
{% block contents %}
	<div class="Contents">
		<h1>게시판/갤러리 관리 ({{board.id}} / {{board.title}})</h1>
		<br><br>
		
		<form action='/admin/editBoardAction/{{board.id}}' method='POST'>
		
			<label for='title'>TITLE:</label>
			<input type='text' id='title' name='title' value='{{board.title}}'>
			<br>

			<label for='board_skin'>SKIN:</label>
			<input type='text' id='board_skin' name='board_skin' value='{{board.board_skin}}'>
			<br>

			<label for='admin_post_yn'>관리자만 글 쓰기/수정/삭제 권한?</label>
			<input type='checkbox' id='admin_post_yn' name='admin_post_yn' value='Y'
				{% if board.admin_post_yn == 'Y' %}CHECKED{% endif %}>
			<br>

			<label for='admin_comment_yn'>관리자만 댓글 쓰기/수정/삭제 권한?</label>
			<input type='checkbox' id='admin_comment_yn' name='admin_comment_yn' value='Y'
				{% if board.admin_comment_yn == 'Y' %}CHECKED{% endif %}>
			<br>				

			<label for='admin_view_yn'>관리자/작성자만 글 열람 권한?</label>
			<input type='checkbox' id='admin_view_yn' name='admin_view_yn' value='Y'
				{% if board.admin_view_yn == 'Y' %}CHECKED{% endif %}>
			<br>	
			
			<input type='submit' value='저장'>
			<br>
		
		</form>


	</div>
{% endblock %}