{% extends "layouts/base01.html" %}
{% block contents %}
	<div class="Contents">
		<div class="AdminPage">
			<h1>ADMIN</h1>
			
			<ul class="adminList">
				<li>
					<a href='/admin/members'>회원/Staff/Admin 관리</a>
				</li>
				<li>
					<a href='/admin/boards'>게시판/갤러리 관리</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}