{% extends "layouts/base01.html" %}
{% block contents %}
{% import "layouts/macros.html" as macros %}
<div class="Contents members">
	<h2><img src="/images/ti_h2_adstr2.gif" alt="Administration 회원관리" /></h2>
		<div class="adstrList">
			<div class="Tbhit">
				전체게시물 <span>150</span>, 현재페이지 <span>1/20</span>
			</div>
			<div class="adTb">
				<table>
					<colgroup>
						<col width="10%" />
						<col width="10%" />
						<col width="15%" />
						<col width="10%" />
						<col width="*" />
						<col width="5%" />
						<col width="15%" />
					</colgroup>
					<thead>
						<tr>
							<th><img src="/images/th_c1.gif" alt="번호" /></th>
							<th><img src="/images/th_c2.gif" alt="성별" /></th>
							<th><img src="/images/th_c3.gif" alt="아이디" /></th>
							<th><img src="/images/th_c4.gif" alt="이름" /></th>
							<th><img src="/images/th_c5.gif" alt="이메일" /></th>
							<th><img src="/images/th_c6.gif" alt="가입형태" /></th>
							<th><img src="/images/th_c7.gif" alt="등록일" /></th>
						</tr>
					</thead>
					<tbody>
						{% for p in pagination %}
						<tr>
							<td>{{loop.index}}</td>
							<td>-</td>
							<td>{{p.id}}</td>
							<td><a href='/admin/editMemberForm/{{p.id}}' target='_blank'>{{p.name}}</a></td>
							<td>{{p.email}}</td>
							<!-- 아이콘명 페이스북 - ic_d_fb.gif, 트위터 - ic_d_tw.gif, p - ic_d_p.gif, 싸이월드 - ic_d_cw.gif -->
							<td>{{p.join_type}}</td>
							<td>-</td>
						</tr>
						{% endfor %}
						{% if pagination|length < 1 %}
						<tr>
							<td colspan="7">회원이 없습니다.</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>

			<div class="btnbox clearfx">
				<div class="ap"><img src="/images/bt_mapp.gif" alt="회원등록" /></div>
				<div class="mSchbx">
					<form name='formSearch' method='GET'>
					<fieldset>
						<legend>회원검색영역</legend>
						<div class="a">
							<input type='hidden' name='curpage' value='1'>
							<input type='checkbox' id='by_name' name='by_name' value='Y' {% if by_name == 'Y' %}CHECKED{% endif %} />
							<label for='by_id'><img src="/images/th_d_1.gif" alt="이름" /></label>
							<input type='checkbox' id='by_email' name='by_email' value='Y' {% if by_email == 'Y' %}CHECKED{% endif %} />
							<label for='by_email'><img src="/images/th_d_2.gif" alt="이메일" /></label>
							<input type='checkbox' id='by_id' name='by_id' value='Y' {% if by_id == 'Y' %}CHECKED{% endif %} />
							<label for="did"><img src="/images/th_d_3.gif" alt="아이디" /></label>
						</div>
						<div class="b"><input type='search' name='search' value='{{search}}' class="inp"><input type="image" src="/images/bt_msch.gif" alt="회원검색" /></div>
					</fieldset>
					</form>
				</div>
			</div>
		</div>

		<div class="pagingbx">
			<span><a href='{{macros.boardListLink(board_id, 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prevx.gif" alt="맨처음" /></a></span>
			{% if curpage > 1 %}    
				<span><a href='{{macros.boardListLink(board_id, curpage - 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prev.gif" alt="이전" /></a></span>
			{% else %}
				<span><img src="/images/bt_prev.gif" alt="이전" /></span>
			{% endif %}

			{% for pn in page_numbers %}
				{% if pn == curpage %}
					<strong>{{pn}}</strong>
				{% else %}
					<a href='{{macros.boardListLink(board_id, pn, search, by_id, by_name, by_title, by_contents)}}'>{{pn}}</a>
				{% endif %}
			{% endfor %}

			{% if (curpage + 1) <= pagination_info.total_pages %}
				<span><a href='{{macros.boardListLink(board_id, curpage + 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_next.gif" alt="다음" /></a></span>
			{% else %}
			<span><img src="/images/bt_next.gif" alt="다음" /></span>
			{% endif %}
			<span><a href='{{macros.boardListLink(board_id, pagination_info.total_pages, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_nextx.gif" alt="맨마지막" /></a></span>
		</div>

	


</div>
{% endblock %}
