{% extends "layouts/base01.html" %}
{% block contents %}
	<div class="Contents">
		<div class="boardCont">
			<h1>게시물 정렬 / <a href='/board/list/{{board.id}}' target='_blank'>{{board.title}}</a></h1>
			
			<br>
			<p style='text-align:right; padding-right:100px;'>
			(게시물을 드래그하여 순서를 조정하세요.)
			</p>
			<br>
			
			<ul id="posts" class="connectedSortable">
				{% for post in posts %}
					<li class="ui-state-default"
						data-id='{{post.id}}'
						data-index="{{loop.index}}">{{post.id}} {{post.title}}</li>
				{% endfor %}
				{% if posts|length == 0 %}
					<li style='text-align:center;'><b>정렬할 게시물이 없습니다.</b></li>
				{% endif %}
			</ul>
			
		</div>
	</div>
{% endblock %}

{% block body2 %}

<div id='loading'>
	<img src='/images/loading.gif'>
</div>
	
<script type='text/javascript'>
	$(document).ready(function(){
		$("#posts").sortable({
			connectWith: ".connectedSortable",
			stop: function(event, ui) {
				var d = findSorted();
				if(d != null){
					setStatusLoading();
					//
					d['board'] = '{{board.id}}';
					$.get('/admin/movePostSortOrder', d, function(data){
						if(data['ok']){
							location.reload();
						}else{
							alert('오류가 발생했습니다. ' + data['errmsg']);
							unsetStatusLoading();
						}
					}, 'json');
				}
			}
		}).disableSelection();
		//
		$(window).resize(function(){
			maskPopResize();
			$('#loading').center();
		});
	});
	
	var maskPopResize = function(){
		var maskHeight = $(document).height();
		var maskWidth = $(window).width();
		$('#mask').css({'width':maskWidth,'height':maskHeight});
	};
	
	var maskPopUp = function(){
		maskPopResize();
		$('#mask').fadeIn(1000);	
		$('#mask').fadeTo("slow",0.8);
	};
	
	var setStatusLoading = function(){
		maskPopUp();
		$('#loading').show().center();
	};
	
	var unsetStatusLoading = function(){
		$('#mask').hide();
		$('#loading').hide();
	};
	
	var findSorted = function(){
		var lis = $('#posts > li');
		for(var i = 1 ; i < lis.length ; i ++){
			var $before = $(lis[i-1]);
			var $self = $(lis[i]);
			if(Number($before.data('index')) > Number($self.data('index'))){
				//alert($before.data('id') + ' moved before ' + $self.data('id'));
				if(i==(lis.length-1)){
					return {
						baseId:		$before.data('id'),
						movedId:	$self.data('id'),
						method:		'sub'
					};
				}else{
					return {
						movedId:	$before.data('id'),
						baseId:		$self.data('id'),
						method:		'add'
					};
				}
			}
		}
		return null;
	};
		
</script>
	
<style>
#posts li { padding: 5px; font-size: 1.2em; }
#loading	{ display:none; z-index:20; }
</style>

{% endblock %}
