{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">


	<form action='/board/editAction/{{board.id}}/{{post.id}}' method='POST' enctype="multipart/form-data">
		<label for='title'>TITLE:</label>
		<input type='text' id='title' name='title' value='{{post.title}}'>
		<br>
		
		<label for='contents'>CONTENTS:</label>
		<br>
		<textarea id='contents' name='contents'>{{post.contents}}</textarea>
		<br>
		
		<input type='submit' value='저장'>
	</form>


</div>
{% endblock %}