{% extends "layouts/base01.html" %}
{% block contents %}
{% import "layouts/macros.html" as macros %}
{% include "board/board.js.html" %}
<div class="Contents">
	<h2><img src="./images/ti_h2_adstr2.gif" alt="Administration 회원관리" /></h2>
		<ul></ul>
		<div class="adstrList">
			<div class="Tbhit">
				전체게시물 <span>150</span>, 현재페이지 <span>1/20</span>
			</div>
			<div class="adTb">
				<table>
					<colgroup>
						<col width="10%" />
						<col width="10%" />
						<col width="15%" />
						<col width="10%" />
						<col width="*" />
					</colgroup>
					<thead>
						<tr>
							<th><img src="/images/th_c1.gif" alt="번호" /></th>
							<th><img src="/images/th_e2.gif" alt="제목" /></th>
							<th><img src="/images/th_e3.gif" alt="이름" /></th>
							<th><img src="/images/th_e4.gif" alt="날짜" /></th>
							<th><img src="/images/th_e5.gif" alt="조회" /></th>
						</tr>
					</thead>
					<tbody>
						{% for p in pagination %}
						<tr>
							<td>{{p.id}}</td>
							<td>{{p.title}}</td>
							<td>skjoong</td>
							<td>{{p.member.name}}</td>
							<td>skjoong7@naver.com</td>
						</tr>
						{% endfor %}
						{% if pagination|length < 1 %}
						<tr>
							<td cols="5">게시물이 없습니다.</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>

			<div class="btnbox clearfx">
				<div class="ap"><img src="./images/bt_mapp.gif" alt="회원등록" /></div>
				<div class="mSchbx">
					<fieldset>
						<legend>회원검색영역</legend>
						<div class="a">
							<input type="checkbox" id="dnm" />
							<label for="dnm"><img src="./images/th_d_1.gif" alt="이름" /></label>
							<input type="checkbox" id="dem" />
							<label for="dem"><img src="./images/th_d_2.gif" alt="이메일" /></label>
							<input type="checkbox" id="did" />
							<label for="did"><img src="./images/th_d_3.gif" alt="아이디" /></label>
						</div>
						<div class="b"><input type="text" class="inp" /><a href="#"><img src="./images/bt_msch.gif" alt="회원검색" /></a></div>
					</fieldset>
				</div>
			</div>
		</div>


    {# 게시글 목록 #}
    <ul>
        {% for p in pagination %}
			<li>
				<a href="/board/view/{{board_id}}/{{p.id}}">
					NO[{{p.id}}] 제목[{{p.title}}]
				</a>
                작성자 [{{p.member.id}}] [{{p.member.name}}] [{{p.member.email}}]
				COMMENTS[{{p.comments.count}}]
				{{fmtYearMoDaHoMiSe(p.ctime)}}
				조회수[{{p.read_count}}]
				<a href="/board/editForm/{{board_id}}/{{p.id}}">
					[EDIT]
				</a>
				<a href="javascript:deletePost('{{board_id}}','{{p.id}}')">
					[DEL] 				
				</a>
			</li>
		{% endfor %}
		{% if pagination|length < 1 %}
			<li><b></b></li>
		{% endif %}
    </ul>

    {# 페이징 #}
	<ol>
		<li>TOTAL-ITEMS=[{{pagination_info.total}}]</li>
		<li>CURRENT_PAGE=[{{pagination_info.current_page}}]</li>
		<li>TOTAL-PAGES=[{{pagination_info.total_pages}}]</li>
	</ol>

    <a href='{{macros.boardListLink(board_id, curpage, search, by_id, by_name, by_title, by_contents)}}'>
        [처음]
    </a>

    {% if curpage > 1 %}    
        <a href='{{macros.boardListLink(board_id, curpage - 1, search, by_id, by_name, by_title, by_contents)}}'>
            [이전]
        </a>
    {% else %}
        [이전]
    {% endif %}
	
	{# 페이지 번호들 #}
	<ol>
		{% for pn in page_numbers %}
            <li>
                {% if pn == curpage %}
                    {{pn}}
                {% else %}
                    <a href='{{macros.boardListLink(board_id, pn, search, by_id, by_name, by_title, by_contents)}}'>
                        {{pn}}
                    </a>
                {% endif %}
			</li>
		{% endfor %}
	</ol>

    {% if (curpage + 1) <= pagination_info.total_pages %}
        <a href='{{macros.boardListLink(board_id, curpage + 1, search, by_id, by_name, by_title, by_contents)}}'>
            [다음]
        </a>
    {% else %}
        [다음]
    {% endif %}
	
    <a href='{{macros.boardListLink(board_id, pagination_info.total_pages, search, by_id, by_name, by_title, by_contents)}}'>
        [마지막]
    </a>	
	
	{# write #}
    <a href='/board/writeForm/{{board_id}}'>
        [WRITE]
    </a>
	
    <form name='formSearch' method='GET'>
        <input type='hidden' name='curpage' value='1'>
        <label for='by_id'>ID:</label>
        <input type='checkbox' id='by_id' name='by_id' value='Y' {% if by_id == 'Y' %}CHECKED{% endif %} />
        <label for='by_title'>TITLE:</label>
        <input type='checkbox' id='by_title' name='by_title' value='Y' {% if by_title == 'Y' %}CHECKED{% endif %} />
        <label for='by_name'>NAME:</label>
        <input type='checkbox' id='by_name' name='by_name' value='Y' {% if by_name == 'Y' %}CHECKED{% endif %} />
        <label for='by_contents'>CONTENTS:</label>
        <input type='checkbox' id='by_contents' name='by_contents' value='Y' {% if by_contents == 'Y' %}CHECKED{% endif %} />
        <input type='search' name='search' value='{{search}}'>
        <input type='submit' value='검색'>
    </form>

</div>
{% endblock %}
