{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">


	<form action='/board/writeAction/{{board.id}}' method='POST' enctype="multipart/form-data">

		<label for='title'>TITLE:</label>
		<input type='text' id='title' name='title'>
		<br>
		
		<label for='contents'>CONTENTS:</label>
		<br>
		<textarea id='contents' name='contents'></textarea>
		<br>
		
		<label for='file'>첨부파일:</label>
		<input type='file' id='file' name='file'>
		<br>
		
		<input type='submit' value='저장'>

	</form>


</div>
{% endblock %}