{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact">
		<h2 class="tt2">Hair Service <em>[Coloring]</em></h2>
		<ul class="subMenu">
			<li> <a href="/a/avenue/HairService2">헤어</a></li>
			<li> <a href="/a/avenue/ScalpCare">두피케어</a></li>
			<li> <a href="/a/avenue/Makeup">메이크업</a></li>
			<li> <a href="/a/avenue/NailArt">네일아트</a></li>
		</ul>
		<ol class="subTab">
			<li><a href="/a/avenue/HairService2">HAIRCUT</a></li>
			<li><a href="/a/avenue/Perm">PERM</a></li>
			<li><a href="/a/avenue/Coloring">COLORING</a></li>
			<li><a href="javascript:alert('준비중')">CARING</a></li>
			<li><a href="/a/avenue/Styling">STYLING</a></li>
		</ol>

		<div class="Coloringbx">
			<div class="color">
				<h3>Coloring</h3>
				<ul class="styleList clearfx">
					<li>
						<dl>
							<dt>Single coloring</dt>
							<dd>한 가지 색상으로 시술하는 염색으로 고객의 얼굴형과 피부 톤, 선호하는 색상을 종합하여 최적의 염모제를 선택하고 시술합니다.</dd>
					
							<dt>Gray cover</dt>
							<dd>새치가 많은 분이나 흰머리를 커버하기 위한 염색으로 어두운 색상으로 아예 새치가 안보이게 하거나 약간 밝은 컬러로 기존의 새치와 섞여서 자연스러움을 주고자 할 때 시술합니다. 지속적인 염색으로 인한 손상으로부터 모발을 보호해주기 위한 방법을 꾸준히 개발하고 있습니다.</dd>
						
							<dt>High-light</dt>
							<dd>부분적으로 모발을 밝게 표현해주어 전체적으로 머리색의 tone-up 효과를 주며 개성 있는 스타일의 연출이 가능합니다.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Bleach coloring</dt>
							<dd>탈색을 말하며 Gray color를 원할 경우나 아주 밝은 색을 원할 때 주로 사용하며 손상 정도가 심하기 때문에 Hair care를 적절히 선택하여 시술하시는 것이 좋습니다.</dd>
						
							<dt>Retouch coloring</dt>
							<dd>자라나는 부분의 모발을 동일한 색상으로 맞추는 시술입니다.</dd>
							<dt>Two tone coloring</dt>
							<dd>모발에 음영을 주고 색으로 인한 움직임을 표현해주기 적절하며 제대로 표현되었을 경우엔 얼굴형이나 두상의 콤플렉스를 커버해줄 수 있습니다.</dd>
						</dl>
					</li>
					<li class="last">
						<dl>
							<dt>Low-light</dt>
							<dd>전체적으로 밝게 된 염색머리를 한꺼번에 tone-down시키기 싫거나 부분적으로 음영이나 입체감을 주고 싶을 때 사용되는 방법이며 tone-up과 low-light를 동시에 시술할 수도 있습니다.</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="tibgBox"></div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(1).find('a').addClass('on');

$('.subTab > li').eq(0).find('a').addClass('on');
$('.subTab > li > a').removeClass('on');
$('.subTab > li').eq(2).find('a').addClass('on');
</script>
{% endblock %}
