{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents c1 clearfx">
	<div class="about">
		<h2><span>Artistic & Creative</span>Park Avenue</h2>
		<ul class="subMenu">
			<li><a href="/a/avenue/company">파크애비뉴</a></li>
			<!-- <li><a href="/a/avenue/HairService">매장안내</a></li> -->
			<li><a href="/a/avenue/contact">오시는길</a></li>
			<li><a href="/a/avenue/recruit">채용정보</a></li>
		</ul>
		<div class="cpnbox">
			<h3>
				고객의 내면에 숨은 아름다움을 찾아내고<br/>
				편안한 주변 자연 경관에 고급스러움까지 더한<br/>
				진정한 고급스러움을 표현하는 곳
			</h3>
			<p>도심속의 공원 도산공원 그 앞에 자리하고 있는 미의궁전 Park Avenue, 도산공원의 자연경관<br/>
				과 어울리는 Original Lounge에서 멋진 경관을 보며 여유를 찾을 수 있는 바로 그 곳<br/>
				Park Avenue는 청담동 뷰티 업계의 리더로서 고객님을 모시겠다는 Park Avenue디자이너들의<br/>
				열정을 담고 있습니다.<br/><br/>
				고객의 내면에 숨은 아름다움을 찾아내고 편안한 주변 자연 경관에 고급스러움까지 더한 진정<br/>
				한 고급스러움을 표현해 드립니다.<br/>
				이것이 Park Avenue가 추구하는 진정한 뷰티의 본질입니다.<br/>
				지금부터 Park Avenue가 'artistic & creative'의 부제로 고객 여러분께 'Providing New<br/>
				Standards in Beauty by Park Avenue'의 개념으로 새로운 미의 표준을 제시하여 고객 여러분<br/>
				께 진정한 뷰티의 행복함을 느낄수 있도록 노력하겠습니다.
			</p>
			<div class="ShopView"><a href="javascript:popupView();"><img src="/images/bt_shopview.gif" alt="매장안내" /></a></div>
		</div>
		<div class="tibgBox"></div>
	</div>
</div>


<div class="Storepop window" style="display:none;">
	<div class="photo"><img src="/images/IMG_5315.jpg" width="380px" height="490px" alt="" /></div>
	<div class="strinfo">
		<dl class="info">
			<dt>지상 3, 4층 두개의 층을 사용하는 Park Avenue는</dt>
			<dd>도심속의 공원 도산공원 그 앞에 자리하고 있는 미의 궁전 Park Avenue, 도산공원의 자연경관과 어울리는 Original Lounge에서 멋진 경관을 보며 여유를 찾을 수 있는 바로 그 곳. Park Avenue는 청담동 뷰티 업계의 리더로서 고객님을 모시겠다는 Park Avenue디자이너들의 열정을 담고 있습니다.
			고객의 내면에 숨은 아름다움을 찾아내고 편안한 주변 자연 경관에 고급스러움까지 더한 진정한 고급스러움을 표현해 드립니다.
			이것이 Park Avenue가 추구하는 진정한 뷰티의 본질입니다.
			지금부터 Park Avenue가 'artistic & creative'의 부제로 고객 여러분께 'Providing New Standards In Beauty by Park Avenue'의 개념으로 새로운 미의 표준을 제시하여 고객 여러분께 진정한 뷰티의 행복함을 느낄 수 있도록 노력하겠습니다.
			</dd>
		</dl>
		<ul class="smList">
			<li><a href="#"><img src="/images/IMG_5315.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_5289.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_5279.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_5257.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_5251.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4862.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4851.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4841.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4840.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4820.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4816.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4812.jpg" width="50" height="50" alt="" /></a></li>
			<li><a href="#"><img src="/images/IMG_4777.jpg" width="50" height="50" alt="" /></a></li>
		</ul>
	</div>
	<span class="close"><a href="javascript:close();"><img src="/images/bt_close.gif" alt="닫기" /></a></span>
</div>


<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(0).find('a').addClass('on')

Store = $('.Storepop > .strinfo > .smList > li > a > img');
Store.click(function(){
	$('.Storepop > .photo > img').attr('src', $(this).attr('src'));
});

var popupView = function(){
	var viewpop = $('.window');
	maskPopUp();
	var winH = $(window).height();
	var winW = $(window).width();
	var subwinW = $('.about').width();

	console.log(subwinW);
	$(viewpop).css('top',  winH/2-$(viewpop).height()/2);
	$(viewpop).css('left', subwinW/2-$(viewpop).width()/2);
	$(viewpop).fadeIn(2000); 
};

$(document).ready(function(){
	$(window).resize(function(){
		var maskHeight = $(document).height();
		var maskWidth = $(document).width();
		
		console.log(maskHeight);
		console.log(maskWidth);
		
		$('#mask').css({'width':maskWidth,'height':maskHeight});
	});
});

var maskPopUp = function(){
	var maskHeight = $(document).height();
	var maskWidth = $(window).width();
	$('#mask').css({'width':maskWidth,'height':maskHeight});
	$('#mask').fadeIn(1000);	
	$('#mask').fadeTo("slow",0.8);
};

var close = function(){
	$('#mask').hide();
	$('.window').hide();
};

</script>
{% endblock %}
