{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact mapx">
		<h2>Contact</h2>
		<ul class="subMenu">
			<li><a href="/a/avenue/company">파크애비뉴</a></li>
			<!-- <li><a href="/a/avenue/HairService">매장안내</a></li> -->
			<li><a href="/a/avenue/contact">오시는길</a></li>
			<li><a href="/a/avenue/recruit">채용정보</a></li>
		</ul>
		<div class="mapbox">
			서울 강남구 신사동 650번지 (도산공원 정문 앞)<br />
			TEL.02-518-4004, 02-548-5771 FAX.02-518-4223<br />
			dahye426@hanmail.net
		</div>
		<div class="tibgBox"></div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(0).find('a').addClass('on')
</script>
{% endblock %}
