{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents c1 clearfx">
<style type="text/css">
.Custormerbx{}

</style>

	<div class="Custormerbx">
		<h2>Support <em>[고객센터]</em></h2>
		{% include "layouts/supportsub.html" %}

		<div class="csm">
			<div class="callbx">
				02) 518-4004 <span>dahye426@hanmail.net</span>
			</div>
			
			<div class="comInfo">
				<dl>
					<dt>[예약]</dt>
					<dd>저희 파크애비뉴는 대기시간을 최소화하여 높은 수준의 서비스를 제공하기 위해서 우선예약제를 시행하고 있으며, 처음 방문하시는 고객님의 경우 고객님의 스타일에 가장 잘 맞는 디자이너를 추천 해 드리고 있습니다.</dd>
			
					<dt>[시술가격]</dt>
					<dd>저희 파크애비뉴는 직접 방문하시거나 전화 상담을 통해 정확한 스타일 상담을 받으신 후 가격을 말씀드리고 있습니다. 궁금하신 사항은 전문 상담원에게 부담없이 문의 하시기 바랍니다.</dd>
			
					<dt>[영업시간]</dt>
					<dd>파크애비뉴는 오전 10시부터 오후 7시 까지 고객님을 모시고 있으며, 면접, 촬영 등 특수한 상황 때문에 영업 외의 시간에 시술을 원하시는 고객님 께서는 예약 상담을 통해 조정하여 시술이 가능합니다. 상담원에게 문의 해 주시기 바랍니다.</dd>
			
					<dt>[웨딩헤어&메이크업]</dt>
					<dd>저희 파크애비뉴는 업체를 통해 준비하시는 신부님 뿐 아니라 업체를 통하지 않고 준비하시는 신부님도 헤어&메이크업이 가능합니다.</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(0).find('a').addClass('on');
$('.subMenu > li > a').eq(0).addClass('on');
</script>
{% endblock %}
