{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact">
		<h2 class="tt2">Hair Service <em>[Hair Cut]</em></h2>
		<ul class="subMenu">
			<li> <a href="/a/avenue/HairService2">헤어</a></li>
			<li> <a href="/a/avenue/ScalpCare">두피케어</a></li>
			<li> <a href="/a/avenue/Makeup">메이크업</a></li>
			<li> <a href="/a/avenue/NailArt">네일아트</a></li>
		</ul>
		<ol class="subTab">
			<li><a href="/a/avenue/HairService2">HAIRCUT</a></li>
			<li><a href="/a/avenue/Perm">PERM</a></li>
			<li><a href="/a/avenue/Coloring">COLORING</a></li>
			<li><a href="javascript:alert('준비중')">CARING</a></li>
			<li><a href="/a/avenue/Styling">STYLING</a></li>
		</ol>
		
		<div class="servicebx2">
			<h3>Hair Cut</h3>
			<h4>모든 헤어디자인의 기본이 되는 시술로 퍼머나 염색을 할 때도 헤어커트의<br /> 디자인에 따라서 전체적인 디자인이 결정됩니다.</h4>
			<ul class="styleList clearfx">
				<li>
					<dl>
						<dt>Solid cut</dt>
						<dd>라인이 무거운 스타일로 조금 딱딱하지만 안정적이며 보수적이고 심플한 스타일을 지향하는 사람들에게 좋습니다.</dd>
				
						<dt>Bob style cut</dt>
						<dd>어깨를 넘지 않는 길이로 과거 비달사순이 제안하여 크게 이슈가 된 스타일입니다. 현재에도 심플한 도회적인 분위기의 여성의 이미지를 표현하고 싶은 분들께 적합한 커트 스타일입니다</dd>
					
						<dt>Layered cut</dt>
						<dd>머리카락에 층을 주어 움직임을 표현하며 보다 손질하기 편하고 네추럴한 스타일입니다. 특히 Long hair에 레이어드 커트를 하고 굵은 Wave perm을 하면 굉장히 네추럴하고 로맨틱한 이미지를 표현할 수 있습니다.</dd>
					
						<dt>Shaggy cut</dt>
						<dd>Layered cut보다 가볍고 층이 많은 스타일로 머리숱이 너무 많아서 고민이거나 개성 있는 이미지를 원하는 분들께 적합한 스타일입니다. 가수 이효리와 보아가 샤기컷을 하고 나와서 터프하고 야성적인 이미지를 표현하기도 했습니다.</dd>
					
						<dt>Assymetric cut</dt>
						<dd>얼굴을 중심으로 양쪽 머리카락의 길이를 다르게 하여 개성을 표현해주며 적절한 길이 차이로 인해 보수적인 이미지에서 벗어나 남과 다른 헤어스타일을 표현할 수 있으며 어떤 커트 스타일과도 매치가 가능합니다.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Boyish cut</dt>
						<dd>여성으로서 미소년의 이미지를 느낄 수 있게 해주며 여성스러운 이미지가 진부하게 느껴지거나 과감한 이미지 변신을 원하시는 분들께 적합한 스타일입니다. 전체적으로 짧은 Layered cut에 앞머리는 조금 길게 하는 것이 Boyish cut의 전형이라 할 수 있습니다.</dd>
					
						<dt>Dandy style cut</dt>
						<dd>세련된 남성의 이미지를 표현하고자 할 때 적절하며 너무 Layer가 많이 않으며 부드러운 느낌이 나는 것이 특징입니다.</dd>
					
						<dt>Woof style cut</dt>
						<dd>보다 거친 느낌을 표현하고자 하는 고객들에게 추천하는 스타일이며, 대표적으로 예전 MC몽, 윤도현, 데이비드 베컴 등이 즐겨 했던 커트입니다. 강하고 개성 있는 남성상을 표현할 때 적당합니다</dd>
					
						<dt>Bang style cut</dt>
						<dd>앞머리를 짧게 자르는 스타일을 말하며 앞머리의 모양은 각양각색으로 만들 수 있습니다. 현재의 머리 스타일에 불만은 없으나 왠지 심심하고 약간의 변화로 상대적으로 새로운 느낌을 얻고 싶은 분들께 추천해 드립니다.</dd>
					</dl>
				</li>
				<li class="last"> 
					<dl>
						<dt>Dandy style cut</dt>
						<dd>세련된 남성의 이미지를 표현하고자 할 때 적절하며 너무 Layer가 많이 않으며 부드러운 느낌이 나는 것이 특징입니다.</dd>

						<dt>Woof style cut</dt>
						<dd>보다 거친 느낌을 표현하고자 하는 고객들에게 추천하는 스타일이며, 대표적으로 예전 MC몽, 윤도현, 데이비드 베컴 등이 즐겨 했던 커트입니다. 강하고 개성 있는 남성상을 표현할 때 적당합니다</dd>

						<dt>Bang style cut</dt>
						<dd>앞머리를 짧게 자르는 스타일을 말하며 앞머리의 모양은 각양각색으로 만들 수 있습니다. 현재의 머리 스타일에 불만은 없으나 왠지 심심하고 약간의 변화로 상대적으로 새로운 느낌을 얻고 싶은 분들께 추천해 드립니다.</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="tibgBox"></div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(1).find('a').addClass('on');

$('.subTab > li').eq(0).find('a').addClass('on');
$('.subTab > li > a').removeClass('on');
$('.subTab > li').eq(0).find('a').addClass('on');
</script>
{% endblock %}

