{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact">
		<h2 class="tt">Makeup Service <em>[메이크업]</em></h2>
		<ul class="subMenu">
			<li> <a href="/a/avenue/HairService2">헤어</a>
				<ol class="depth2">
					<li><a href="/a/avenue/HairService2">HAIRCUT</a></li>
					<li><a href="/a/avenue/Perm">PERM</a></li>
					<li><a href="/a/avenue/Coloring">COLORING</a></li>
					<li><a href="javascript:alert('준비중')">CARING</a></li>
					<li><a href="/a/avenue/Styling">STYLING</a></li>
				</ol>
			<li> <a href="/a/avenue/ScalpCare">두피케어</a></li>
			<li> <a href="/a/avenue/Makeup">메이크업</a></li>
			<li> <a href="/a/avenue/NailArt">네일아트</a></li>
		</ul>

		<div class="Makeupbx">
			<ul class="makeup">
				<li>
					<dl>
						<dt>메이크업 서비스 <em>[Makeup Service]</em></dt>
						<dd>수 많은 여성들의 꿈. 그것은 바로 내 안에 숨어있는, 아직 표현되지 않은 나의 아름다움을 찾는 것입니다.
								Park Avenue의 메이크업을 통해 또 다른 자신을 발견할 수 있습니다.
								젊고 감각이 넘치는 아티스트들로 구성된 엘트레 메이크업팀은 다양한 경력을 바탕으로 늘 신선한 트렌드에 민감합니다.
								고객님이 언제, 어느 장소에, 어떤 이유로 있게 될 것인가를 고려하고 성격, 직업, 취향에 맞는 스타일을 제안한 후 최신의 트렌드를
								Park Avenue의 시각으로 풀어내 고객님에게 최고의 아름다움을 선사합니다.
								수 많은 메이크업 아티스트들이 지나치게 색에 집착하는 요즘, 엘트레는 얼굴을 규정짓는 요소는 바로 '선'이라는 점에 초점을 맞추어 메이크업을 진행합니다. 동양인의 얼굴에 맞는 선의 비율과 배합을 찾아내고 네추럴하고 맑고 깨끗하게 표현해 드립니다. 
						</dd>
					</dl>
				</li>

				<li>
					<dl>
					<dd>이렇게 균형 있게 잡힌 선이라는 기초 위에 컨셉과 트렌드에 맞는 색을 배합하여 가장 눈부신 고객님의 아름다움을 찾아드립니다. 어딘지 모르게 사랑스러운 느낌이 나는, 오늘따라 왠지 더욱 자신감이 생기는, 은근하고 자연스럽지만 수 많은 사람들 속에서 눈길이 멈추는 당신을 만들어 드리는 곳, 바로 Park Avenue입니다.</dd>
					</dl>
					<div class="mkimg"><img src="/images/vi_makeupIMG.jpg" alt="" /></div>
				</li>

				<li>
					<dl>
						<dt>웨딩 메이크업</dt>
						<dd>평생 단 한번의 추억으로 기억되는 결혼식. 모든 이의 축복속에 사랑스러운 신부로 당신을 변신시켜 드립니다. 잘 정돈된 피부를 바탕으로 자연스러우면서도 러블리하고 로맨틱한 메이크업으로 이 세상 최고의 아름다움을 선사합니다.</dd>

						<dt>스테이지 메이크업</dt>
						<dd>말그대로 무대분장을 뜻하는 연극 뿐만 아니라 영화, 패션쇼등 특정한 무대에 따라 그에 맞는 캐릭터를 효과적으로 나타내기 위한 메이크업입니다. 이벤트의 특성에 대한 세심한 상담을 바탕으로 당신을 무대의 주인공으로 만들어드립니다.</dd>

						<dt>수정 메이크업</dt>
						<dd>말그대로 무대분장을 뜻하는 연극 뿐만 아니라 영화, 패션쇼등 특정한 무대에 따라 그에 맞는 캐릭터를 효과적으로 나타내기 위한 메이크업입니다. 이벤트의 특성에 대한 세심한 상담을 바탕으로 당신을 무대의 주인공으로 만들어드립니다.</dd>
					</dl>
				</li>

				<li class="last">
					<dl>
						<dt>투명 네추럴 메이크업</dt>
						<dd>TPO(Time, Place, Occasion)에 맞춰 맑고 투명하며 자연스럽게 메이크 업을 해드립니다. 인위적인 테크닉보다는 있는 그대로의 모습에 피부 결점 보완을 중심으로 베이스를 잡은 뒤 투명 파우더로 순수한 이미지를 표현합니다. 순수하고 해맑은 당신의 모습을 만들어 드립니다.</dd>

						<dt>촬영 메이크업</dt>
						<dd>개인 프로필, 졸업, 증명사진 촬영 등 사진 속에서 자신의 이미지를 최대한 부각시키기 위해 촬영 장소, 연령, 컨셉 등을 고려하여 가장 비주얼에 강한 메이크업을 제공해 드립니다.</dd>

						<dt>회원제 메이크업 운용</dt>
						<dd>스튜어디스나 아나운서 등 지속적으로 메이크업을 제공받아야 할 경우 살롱에서 상담을 받으세요. 원하시는 가격대에 맞춘 회원제 메이크업 서비스를 제공해 드립니다.</dd>
					</dl>
				</li>

			</ul>
		</div>
		<div class="tibgBox"></div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(1).find('a').addClass('on');
$('.subMenu > li > .depth2').hide();
</script>
{% endblock %}

