{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact">
		<h2 class="tt">Nail Art <em>[네일아트]</em></h2>
		<ul class="subMenu">
			<li> <a href="/a/avenue/HairService2">헤어</a>
				<ol class="depth2">
					<li><a href="/a/avenue/HairService2">HAIRCUT</a></li>
					<li><a href="/a/avenue/Perm">PERM</a></li>
					<li><a href="/a/avenue/Coloring">COLORING</a></li>
					<li><a href="javascript:alert('준비중')">CARING</a></li>
					<li><a href="/a/avenue/Styling">STYLING</a></li>
				</ol>
			<li> <a href="/a/avenue/ScalpCare">두피케어</a></li>
			<li> <a href="/a/avenue/Makeup">메이크업</a></li>
			<li> <a href="/a/avenue/NailArt">네일아트</a></li>
		</ul>

		<div class="Nailbx">
			<ul class="nail">
				<li>
					<div class="im"><img src="/images/vi_nailartIMG.jpg" alt="" /></div>
					<dl>
						<dt>네일아트 서비스 [Nail Art Service]</dt>
						<dd>여성의 손은 자신감의 표현입니다.
								부드러운 여성의 손은 여성미의 상징입니다.
								아름다운 손의 장식은 옷차림이나 헤어스타일 못지 않게 전체적인 스타일을 완성시키는 중요한 포인트입니다.
								이제 네일아트는 더 이상 멋내기가 아닌 자기관리의 기본 매너입니다.
								바로 엘트레의 네일아티스트가 고객님의 손 끝에 예술의 기운을 더해 여인의 완벽한 아름다움을 만들어 드립니다.
								이제는 누구나 받을 수 있는 네일아트. 하지만 Park Avenue의 네일아트 프로그램을 통해 
								최고 수준의 예술적 아름다움과 건강한 손을 위한 관리를 동시에 선사해 드리겠습니다.
						</dd>
					</dl>
				</li>

				<li>
					<dl>
						<dt>Gel Nail</dt>
						<dd>네일 팁은 매니큐어 과정에서 손과 손톱의 관리가 마무리 된 후 손을 더욱 아름답게 연출하기 위해 팁(Tip)이라고 하는 인조 손톱을 이용하여 원하는 손톱의 길이나 모양을 만들어 주는 작업으로 간혹 문제성 손톱인 경우라도 자연 손톱보다 더 자연스럽게 연출할 수 있다. 
						그러나 네일 팁 자체만으로는 약하기 때문에 보통 그 위에 Silk, Acrylic, Filler, Powder와 Gel등으로 보강하게 되는데 그 중 Gel Nail은 가장 간단한 시술 방법이다.
						</dd>

						<dt>Silk Extension</dt>
						<dd>손톱의 길이를 길게 한다 는 점에서 팁과 같지만 방법과 재료에 차이가 있다. 팁을 사용하지 않고 Silk를 이용해서 손톱을 길게 만들어 주는 것인데, 고도의 숙련된 기술을 필요로 하고 시간이 많이 걸리지만 가볍고 자연스러운 아름다움을 연출할 수 있다.</dd>

						<dt>Acrylic</dt>
						<dd>두피관리 프로그램으로 비듬, 지루성 두피, 민감성 두피, 탈모가 시작되는 두피 등에 적절한 관리를 해줘 두피를 건강하게 해주고 유지시켜줍니다. 두피는 지속적인 관리와 홈케어가 병행되어야 만족스러운 효과를 볼 수 있습니다.</dd>
					</dl>
				</li>

				<li>
					<dl>
						<dt>3D</dt>
						<dd>컬러 파우더와 이용할 수 있는 모든 재료들로 손톱 위를 아름답게 연출하는 작업. 네일 아트를 널리 이해하고 홍보한다는 점에서 다른 어느 분야의 아트에도 뒤지지 않는다. </dd>
					</dl>

					<dl>
						<dt>Sculpfure Nail</dt>
						<dd>아크릴릭 네일 작업의 팁을 사용하지 않고 form 을 이용해 free-edge 부분을 연출하는 작업이다. 한가지 도는 두 가지 색상의 아크릴릭 작업이 가능하며, free-edge부분을 파우더로 올려 한층 더 깔끔한 프렌치 네일을 연출할 수 있다. </dd>
					</dl>

					<dl>
						<dt>Nail Jewelry Pears</dt>
						<dd>손톱에 구멍을 뚫어 보석 등을 달아준다. 그밖에 테이프 등을 이용하여 디자인하기도 한다.</dd>
					</dl>

					<dl>
						<dt>Water Decal</dt>
						<dd>스티커의 형태의 물속에 담가 놓은 후 그림과 종이를 분리시켜 손톱에 붙이는 기법으로 에그아트(알공예)할 때도 간혹 사용하고 있다.</dd>
					</dl>
				</li>

				<li class="last">
					<dl>
						<dt>French Nail</dt>
						<dd>프렌치 네일은 깨끗하고 자연스러운 누드 톤으로 손톱 끝 부분에 색을 입히는 것이다. 
							프렌치 네일의 장점은 색을 칠하지 않아도 늘 깨끗한 프렌치 네일을 가질수 있고, 지루하다 싶으면 다를 색을 바를수도 있다.
							단점은 일정기간이 되어 손톱이 자라 나오면 프렌치 선이 밑으로 내려 오기 때문에 즉시 교체해 주어야 한다. </dd>
					</dl>
					<dl>
						<dt>Nail Wrap</dt>
						<dd>네일랩은 여러 가지 용도로 이용된다. 잘 부러지거나, 찢어져서 기를 수 없는 손톱, 상해가 있는 손톱 등을 감싸주어 표면을 더욱 단단하게 만들어 주는 역할을 하고 있다. 
							아크릴 릭을 제외한 모든 인조손톱은 보통 2~3주마다 한번씩은 refill(보수)을 해 주어야 하며, 2개월에 한번씩은 새로운 wrap으로 교체 해 주어야 한다. 왜냐하면 그래야 건강한 손톱을 오래도록 유지할 수 있기 때문이다. Wrapping을 하는데 쓰이는 Wrap의 종류로는 silk(비단), linen(마종류-짜임새가 가는 것을 사용), fiber-glass (특수제작으로 만든 접착력이 있는 가제와 같은 구성으로 되어있는 위에 두꺼운 gel을 발라주는 것)등이 있다.
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="tibgBox"></div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(1).find('a').addClass('on')
$('.subMenu > li > .depth2').hide();

</script>
{% endblock %}

