{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact">
		<h2 class="tt2">Hair Service <em>[Perm]</em></h2>
		<ul class="subMenu">
			<li> <a href="/a/avenue/HairService2">헤어</a></li>
			<li> <a href="/a/avenue/ScalpCare">두피케어</a></li>
			<li> <a href="/a/avenue/Makeup">메이크업</a></li>
			<li> <a href="/a/avenue/NailArt">네일아트</a></li>
		</ul>
		<ol class="subTab">
			<li><a href="/a/avenue/HairService2">HAIRCUT</a></li>
			<li><a href="/a/avenue/Perm">PERM</a></li>
			<li><a href="/a/avenue/Coloring">COLORING</a></li>
			<li><a href="javascript:alert('준비중')">CARING</a></li>
			<li><a href="/a/avenue/Styling">STYLING</a></li>
		</ol>

		<div class="servicebx3">
			<div class="str">
				<h3>Straight Perm</h3>
				<dl>
					<dt>판 스트레이트</dt>
					<dd>기본적인 스트레이트 퍼머로 곱슬머리가 약하거나 단지 Wave perm을 다시 풀고 싶은 분들께 적당합니다.</dd>
			
					<dt>Half straight</dt>
					<dd>새치가 많은 분이나 흰머리를 커버하기 위한 염색으로 어두운 색상으로 아예 새치가 안보이게 하거나 약간 밝은 컬러로 기존의 새치와 섞여서 자연스러움을 주고자 할 때 시술합니다. 지속적인 염색으로 인한 손상으로부터 모발을 보호해주기 위한 방법을 꾸준히 개발하고 있습니다.</dd>
				
					<dt>High-light</dt>
					<dd>머리가 너무 직모처럼 펴지는 것이 마음에 들지 않는 분들께 추천해드리며 완전히 모발을 펴는 것이 아니라 보다 자연스러운 스타일로 펴지게 합니다.</dd>

					<dt>Roll straight</dt>
					<dd>직모가 아닌 자연스럽고 부드러운 U-curl 정도의 느낌을 갖고 싶은 분들에게 추천해드리는 스타일이며 굵은 Wave perm과 Straight perm의 중간 정도에 있는 스타일입니다.</dd>
				
					<dt>Magic straight</dt>
					<dd>곱슬머리가 심한 분들께 추천하며 머리에 무겁게 판을 달고 있을 필요가 없습니다. 손상 정도에 따라서 일반, 프리미엄 매직 퍼머 등으로 세분화됩니다.</dd>

					<dt>Volume straight</dt>
					<dd>머리카락의 뿌리와 끝에 자연스러운 볼륨을 원하시는 고객들에게 추천해드립니다.</dd>
				</dl>
			</div>

			<div class="wpem">
				<h3>Wave Perm</h3>
				<ul class="styleList clearfx">
					<li>
						<dl>
							<dt>일반 perm</dt>
							<dd>라인이 무거운 스타일로 조금 딱딱하지만 안정적이며 보수적이고 심플한 스타일을 지향하는 사람들에게 좋습니다.</dd>
					
							<dt>음이온 perm</dt>
							<dd>머리카락에 층을 주어 움직임을 표현하며 보다 손질하기 편하고 네추럴한 스타일입니다. 특히 Long hair에 레이어드 커트를 하고 굵은 Wave perm을 하면 굉장히 네추럴하고 로맨틱한 이미지를 표현할 수 있습니다.</dd>
						
							<dt>Romantic wave perm</dt>
							<dd>머리가 너무 직모처럼 펴지는 것이 마음에 들지 않는 분들께 추천해드리며 완전히 모발을 펴는 것이 아니라 보다 자연스러운 스타일로 펴지게 합니다.</dd>

							<dt>Roll straight</dt>
							<dd>얼굴을 중심으로 양쪽 머리카락의 길이를 다르게 하여 개성을 표현해주며 적절한 길이 차이로 인해 보수적인 이미지에서 벗어나 남과 다른 헤어스타일을 표현할 수 있으며 어떤 커트 스타일과도 매치가 가능합니다.</dd>
						
							<dt>Foil perm</dt>
							<dd>알루미늄 호일을 사용한 퍼머 스타일로 거칠고 터프한 이미지를 만들어냅니다. 대표적으로 올드보이의 최민식을 떠올릴 수 있습니다.</dd>

							<dt>Digital perm</dt>
							<dd>어깨를 넘지 않는 길이로 과거 비달사순이 제안하여 크게 이슈가 된 스타일입니다. 현재에도 심플한 도회적인 분위기의 여성의 이미지를 표현하고 싶은 분들께 적합한 커트 스타일입니다</dd>
						</dl>
					</li>
					<li class="last"> 
						<dl>
							<dt>Cute wave perm</dt>
							<dd>Layered cut보다 가볍고 층이 많은 스타일로 머리숱이 너무 많아서 고민이거나 개성 있는 이미지를 원하는 분들께 적합한 스타일입니다. 가수 이효리와 보아가 샤기컷을 하고 나와서 터프하고 야성적인 이미지를 표현하기도 했습니다.</dd>

							<dt>Shaggy perm</dt>
							<dd>여성으로서 미소년의 이미지를 느낄 수 있게 해주며 여성스러운 이미지가 진부하게 느껴지거나 과감한 이미지 변신을 원하시는 분들께 적합한 스타일입니다. 전체적으로 짧은 Layered cut에 앞머리는 조금 길게 하는 것이 Boyish cut의 전형이라 할 수 있습니다.</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(1).find('a').addClass('on');

$('.subTab > li').eq(0).find('a').addClass('on');
$('.subTab > li > a').removeClass('on');
$('.subTab > li').eq(1).find('a').addClass('on');
</script>
{% endblock %}
