{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="recuit">
		<h2>Recruit</h2>
		<ul class="subMenu">
			<li><a href="/a/avenue/company">파크애비뉴</a></li>
			<!-- <li><a href="/a/avenue/HairService">매장안내</a></li> -->
			<li><a href="/a/avenue/contact">오시는길</a></li>
			<li><a href="/a/avenue/recruit">채용정보</a></li>
		</ul>
		<div class="recruitbox">
			<h3>
				Park Avenue의 직원채용은 상시 모집입니다.<br />
				홈페이지 및 이메일을 통해 모집하오니 많은 관심과<br />
				참여 바랍니다.
			</h3>
			<dl class="recruitStep">
				<dt>응시자격 :</dt>
				<dd>만 19세 이상, 미용전공자나 미용 경력자 또는 미용에 관심있으신분</dd>
				<dt>채용절차</dt>
				<dd>1차 서류전형 &gt; 2차 면접 &gt; 수습기간(3개월) &gt; 정식직원 채용</dd>
				<dt>문의 :</dt>
				<dd>dahye426@hanmail.net / 02-518-4004</dd>
			</dl>
			<p class="recruitcp">지원서를 다운받으신 후 작성하셔서 이메일(imid79@naver.com) 으로 보내주시면 접수됩니다.</p>
			<div class="recruitDown"><a href="/images/application.hwp"><img src="/images/bt_recruitDown.gif" alt="지원서 다운로드" /></a></div>
		</div>

		<div class="tibgBox"></div>
	</div>
</div>


<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(0).find('a').addClass('on')
</script>
{% endblock %}
