{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact">
		<h2 class="tt">Scalp Care <em>[두피케어]</em></h2>

		<ul class="subMenu">
			<li> <a href="/a/avenue/HairService2">헤어</a>
				<ol class="depth2">
					<li><a href="/a/avenue/HairService2">HAIRCUT</a></li>
					<li><a href="/a/avenue/Perm">PERM</a></li>
					<li><a href="/a/avenue/Coloring">COLORING</a></li>
					<li><a href="javascript:alert('준비중')">CARING</a></li>
					<li><a href="/a/avenue/Styling">STYLING</a></li>
				</ol>
			<li> <a href="/a/avenue/ScalpCare">두피케어</a></li>
			<li> <a href="/a/avenue/Makeup">메이크업</a></li>
			<li> <a href="/a/avenue/NailArt">네일아트</a></li>
		</ul>

		<div class="Scalpbx">
			<ul class="scalp">
				<li>
					<dl>
						<dt>민감 두피 케어 <em>[Sensitive Scalp Care]</em></dt>
						<dd>두피의 진정, 보습, 정화효과, 모발에는 부드러움과 탄력을 준다. 스트레스나 수면부족에 효과가 크며 다른 두피질병으로 발전하기 쉽기 때문에 빠른 시일내로 케어가 필요하다.</dd>
						<dt class="pv">추천제품 - 릴렉싱 리츄엘</dt>
						<dd>긴장완화를 통해 두피를 진정, 보습시켜 두피와 모발의 건강을 되찾아 줍니다. 아로마 향은 몸과 마음을 편안하게 하고 민감해진 두피를 안정시켜 줍니다. 모발 타입에 따라 케어 전문 컨설턴트의 릴렉싱 마사지와 함께 더모-캄 리포좀 테크놀러지의 놀라운 결과를 경험할 수 있습니다. </dd>

						<dt>두피 영양 케어 <em>[Scalp Nutriton Care]</em></dt>
						<dd>영양 부족인 두피에 단백질과 천연 수분 복합체를 공급해 두피에 건강함을 되찾아 준다. 새로 나오게 될 모발에 영양을 주어 새로 나온 모발을 좀더 강하고 튼튼한 모발을 만들어 주기 위한 일종의 보험 차원의 케어입니다.</dd>
						<dt class="pv">추천제품 - 두피 뉴리싱 리츄엘</dt>
						<dd>두피의 건강을 되찾고 모발 상태에 따라 뉴리싱, 스테레이트닝 또는 리스트럭춰링 리츄엘로 완벽한 헤어케어를 경험할 수 있습니다.</dd>
					</dl>
				</li>

				<li>
					<dl>
						<dt>탈모 두피 케어 <em>[Depilation Scalp Care]</em></dt>
						<dd>피로, 스트레스, 식생활, 유전자로 인해 균형을 읽은 두피케어 탈모방지 또는 예방을 위한 프로그램, 모근부터 튼튼하게, 약해지고 가늘어진 모발에 힘을 주며, 더 이상 탈모가 일어나지 않도록 도와줍니다.</dd>
						<dt class="pv">추천제품 - 스티뮬레이팅 리츄엘</dt>
						<dd>약해지고 가늘어진 모발에 힘을 주어, 더 이상 탈모가 진행되지 않도록 모근부터 튼튼하게 관리해줍니다. </dd>

						<dt>두피 스케일링 <em>[Scalp Scaling]</em></dt>
						<dd>건강한 두피를 위해서는 정기적인 두피 스켈링이 반드시 필요합니다. 가려움증과 염증을 유발하고 심한 경우 탈모에까지 이르게 하는 과잉피지와 박테리아를 SP 두피스켈링 트리트먼트를 통해 깨끗하게 제거할 수 있고 스트레스 많은 수험생, 직장인 등의 두피 혈액 순환 및 비듬 방지에도 좋습니다. <br /><br />건강한 두피를 유지하기 위해서는 적어도 한 달에 한 번은 두피 스케일링을 받으시는 것이 좋습니다.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>비듬 두피 케어 <em>[Dandruff Scalp Care]</em></dt>
						<dd>비듬 두피의 가려움을 완하 시켜주며, 불규칙한 두피 세포 작용을 정상적으로 회복시켜 생성된 비듬 및 비듬균을 제거해 드립니다. 다른 두피질병으로 발전할 수 있고 심한 경우가 아닌 이상 쉽게 치유가 되며 반드시 해줘야 하는 케어 중 하나입니다.</dd>
						<dt class="pv">추천제품 - 퓨리파잉 리츄엘</dt>
						<dd>두피의 깨끗함을 느껴보세요. </dd>
					</dl>
				</li>
				<li class="last">
					<dl>
						<dt>지성 두피 케어 <em>[Oily Scalp Care]</em></dt>
						<dd>과다 피지 분비를 진정시켜 두피를 정상적으로 돌려줍니다. 좀더 깨끗하고 청결한 두피를 얻을 수 있고 과다한 영양분비로 인한 피지 분비를 조절하여 영양을 골고루 분포해서 밸랜스를 조절해 줍니다.						</dd>
						<dt class="pv">추천제품 - 크레리파잉 리츄엘</dt>
						<dd>두피는 깨끗하고 건강하게 모발은 부드럽고 윤기 나게 관리해 줍니다.</dd>
					</dl>
				</li>
			</ul>
			
			<div class="deCarePro">
				<h3>Depilation Care Program</h3>
				<dl>
					<dt>탈모 케어 스케일링 <em>[Depilation Care Program]</em></dt>
					<dd>독일 웰라 과학진의 특허 성분인 맥시엄 컴플렉스는 혈액순환을 자극하고 모발에 영양을 주어 모주기를 연장시키며 모발 고착력을 강화시켜줍니다. 에너지 트리트먼트를 통해 보다 전문적이고 과학적인 탈모케어를 받아보시기 바랍니다.</dd>

					<dt>건조성 탈모 프로그램</dt>
					<dd>두피의 혈액순환을 원활히 하고 모발에 영양을 주어 모발을 강화시켜 주는 동시에 자칫 건조해지기 쉬운 두피와 모발에 촉촉한 수분을 공급하는 보습 트리트먼트도 함께 해줍니다.</dd>

					<dt>민감성 탈모 프로그램</dt>
					<dd>SP만의 특화된 탈모 트리트먼트로 두피의 혈액순환을 촉진하고 모발을 강화시켜 주는 동시에 민감한 두피의 염증을 치유해주고 보호막을 형성, 추가 탈모를 방지하는 트리트먼트</dd>

					<dt>지루성 탈모 프로그램</dt>
					<dd>과잉피지와 박테리아를 제거하는 두피 스켈링 트리트먼트를 병행하는 탈모 프로그램. 탈모의 원인이 되는 지루성 두피를 케어해 주는 동시에 두피의 혈액순환을 촉진시키고 모발을 강화시키는 탈모 방지 트리트먼트.</dd>
				</dl>
			</div>
		</div>
		<div class="tibgBox"></div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(1).find('a').addClass('on');
$('.subMenu > li > .depth2').hide();
</script>
{% endblock %}

