<li> <a href="#">헤어</a>
	<ol class="depth2">
		<li><a href="#">HAIRCUT</a></li>
		<li><a href="#">PERM</a></li>
		<li><a href="#">COLORING</a></li>
		<li><a href="#">CARING</a></li>
		<li><a href="#">STYLE</a></li>
	</ol>
<li> <a href="#">두피케어</a></li>
<li> <a href="#">메이크업</a></li>
<li> <a href="#">네일아트</a></li>