{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents clearfx">
	<div class="contact">
		<h2 class="tt2">Hair Service <em>[Styling]</em></h2>
		<ul class="subMenu">
			<li> <a href="/a/avenue/HairService2">헤어</a></li>
			<li> <a href="/a/avenue/ScalpCare">두피케어</a></li>
			<li> <a href="/a/avenue/Makeup">메이크업</a></li>
			<li> <a href="/a/avenue/NailArt">네일아트</a></li>
		</ul>
		<ol class="subTab">
			<li><a href="/a/avenue/HairService2">HAIRCUT</a></li>
			<li><a href="/a/avenue/Perm">PERM</a></li>
			<li><a href="/a/avenue/Coloring">COLORING</a></li>
			<li><a href="javascript:alert('준비중')">CARING</a></li>
			<li><a href="/a/avenue/Styling">STYLING</a></li>
		</ol>

		<div class="Stylingbx">
			<ul class="style">
				<li>
					<div class="im"><img src="/images/vi_hair_a_1.jpg" width="130" height="130" alt="hair style" /></div>
					<dl class="con">
						<dt>Blow dry</dt>
						<dd>Hair dryer를 사용하여 원하는 헤어스타일을 만드는 시술로 빠르게 스타일링 할 수 있으며 비즈니스 미팅이나 아나운서들이 업무상 사람을 만날 때 주로 사용합니다.</dd>
					</dl>
				</li>
				<li>
					<div class="im"><img src="/images/vi_hair_a_2.jpg" width="130" height="130" alt="" /></div>
					<dl class="con">
						<dt>Up style</dt>
						<dd>주로 신부를 위한 스타일이며 드레스의 모양과 고객의 얼굴형, 체형 등을 고려하여 최대한 어울리는 스타일을 잡아드립니다. 또한 혼주나 각종 연회에 가시는 한복에 어울리는 Up style  또한 추천해 드립니다.</dd>
					</dl>
				</li>
				<li>
					<div class="im"><img src="/images/vi_hair_a_3.jpg" width="130" height="130" alt="" /></div>
					<dl class="con">
						<dt>Iron styling</dt>
						<dd>Iron을 사용하여 웨이브를 만드는 시술로 웨이브의 굵기 조절이 가능하며 내림머리로, 이브닝 모임이나 각종 행사에 참석하실 때 추천해드리는 스타일입니다.</dd>
					</dl>
				</li>
				<li>
					<div class="im"><img src="/images/vi_hair_a_4.jpg" width="130" height="130" alt="" /></div>
					<dl class="con">
						<dt>Semi-up style</dt>
						<dd>파티나 모임, 연말 행사, 연주회 등 드레스에 어울리는 네추럴하면서도 화려한 감각의 스타일입니다.</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="tibgBox"></div>
	</div>
</div>
<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(1).find('a').addClass('on');

$('.subTab > li').eq(0).find('a').addClass('on');
$('.subTab > li > a').removeClass('on');
$('.subTab > li').eq(4).find('a').addClass('on');
</script>
{% endblock %}
