{% extends "layouts/base00.html" %}
{% block body %}

	<div class="Info">
		<dl>
			<dd class="i1">직함: {{post.var_1}}</dd>
			<dt class="i2">{{post.title}}</dt>
			<dd class="i3">{{post.contents}}</dd>
		</dl>
	</div>


	
	{# NOTE: SnsTypes 뷰/편집기 #}
	<ul>
		{% for st in post.sns_types %}
			<li>
				{{st.id}} -- {{st.title}}
				{# TODO: 삭제 버튼 #}
			</li>
		{% endfor %}
	</ul>
	
	
	{# TODO: 추가 필드 #}
	<select name='sns_type_sel'>
		<option value=''></option>
	</select>
	<input type='text' name='sns_type_desc'>
	<input type='button' value='[삭제]'>
	<br>
	
	<input type='button' value='[추가]'>
	
	
	{# NOTE: 저장용 폼 #}
	<form name='saveSnsTypesForm'
		action='/foo/sns-types/save/{{post.id}}' method='POST' enctype='multipart/form-data'>
		<input type='hidden' name='json' value=''>
	</form>
	
	
<script type='text/javascript'>


var snsTypes = [];

var _initSnsTypes = function(){
	{% for codeSt in snsTypes %}
		snsTypes['{{codeSt.id}}'] = '{{codeSt.title}}';
	{% endfor %}
};


$(document).ready(function(){
	_initSnsTypes();
});



</script>




{% endblock %}