{% extends "layouts/main01.html" %}
{% block contents %}
		<!-- <video width="100%" height="100%" autoplay poster="/images/vi_main.gif">
		  <source src="/movie/Parkave_final.mp4"  type="video/mp4"></source>
		  <source src="/movie/Parkave_final.ogv"  type="video/ogv"></source>
		  <source src="/movie/Parkave_final.webm"  type="video/webm"></source>
		</video> -->

		<!-- <video width="1000" height="100%" autoplay controls="controls">
		  <source src="http://www.w3schools.com/html5/movie.mp4" type="video/mp4" />
		  <source src="http://www.w3schools.com/html5/movie.ogg" type="video/ogg" />
		  Your browser does not support the video tag.
		</video> -->

		<!-- <video controls>
			<source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4; codecs="avc1, mp4a"'>
			<source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg; codecs="theora, vorbis"'>
			<p>Your user agent does not support the HTML5 Video element.</p>
		</video> -->

	<!--<div class="mContents">
		<! <img src="./images/vi_main.jpg" alt="" /> >

		<! <video width="1000" height="667" autoplay controls="controls">
		  <source src="http://www.w3schools.com/html5/movie.mp4" type="video/mp4" />
		  <source src="http://www.w3schools.com/html5/movie.ogg" type="video/ogg" />
		  Your browser does not support the video tag.
		</video> > 
	</div> --> 


	<script type="text/javascript" src="/movie/swfobject.js"></script>
	<script type="text/javascript">swfobject.registerObject("myId", "9.0.0", "parkavn.swf");
		so.addParam("scale", "noscale");
		so.addParam("menu", "false");
		so.write("flashcontent");
		so.addParam("allowFullScreen", "true");
	</script> 

	<style type="text/css">
	html, body{overflow:hidden;width:100%;height:100%;}
	#flashContent { width:100%; height:100%; }
	.mWrap{height:100%;}
	</style>

	<div id="flashContent">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="100%" id="parkavn" align="middle">
			<param name="movie" value="/movie/parkavn.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#ffffff" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="transparent" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash" data="/movie/parkavn.swf" width="100%" height="100%">
				<param name="movie" value="/movie/parkavn.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="transparent" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
			<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflash">
					<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
				</a>
			<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
	</div>


{% endblock %}