{% extends "layouts/base01.html" %}
{% block contents %}
	<div class="Contents clearfx">
		<h2>join <em>[회원가입]</em></h2>
		<div class="joinbx">
			<h3><img src="/images/ti_h3_svccm.gif" alt="서비스 약관" /></h3>
			<div class="svcbox scl">
			<h4>제 1 장 총칙</h4>
			<h5>제 1 조 [목적]</h5>
			<ul class="s1">
				<li>본 약관은 Park Avenue에서 운영하는 홈페이지(www.park-avenue.com)를 이용함에 있어 Park Avenue와 회원의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.</li>
			</ul>

			<h5>제 2 조 [약관의 효력과 변경]</h5>
			<ul class="s1">
				<li>① 약관은 서비스 화면에 게시하고 이용자가 동의함으로써 효력이 발생합니다.</li>
				<li>② 합리적인 사유가 발생할 경우 "Park Avenue"는 약관을 변경할 수 있으며, 변경된 약관은 서비스 화면에 공시함으로써 효력이 발생합니다.</li>
				<li>③ 회원은 변경된 약관에 동의하지 않을 경우 회원 탈퇴를 요청할 수 있으며, 변경된 약관의 효력 발생일 이후에도 서비스를 계속 사용할 경우 약관의 변경 사항에 동의한 것으로 간주됩니다.</li>
			</ul>

			<h5>제 3 조 [약관 외 준칙]</h5>
			<ul class="s1">
				<li>이 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보 통신망 이용촉진 등에 관한 법률 및 기타 관련법령이 정하는 규정에 따릅니다.</li>
			</ul>

			<h5>제 4 조 [용어의 정의]</h5>
			<ul class="s1">
				<li>이 약관에서 사용하는 용어는 다음 각 호로 정의합니다.</li>
			</ul>
			<ul class="s2">
				<li>1. Park Avenue : Park Avenue가 이용자에게 제공하는 internet 서비스 또는 서비스 제공자</li>
				<li>2. 회원 : "Park Avenue"에 접속하여 이 약관에 따라 "Park Avenue"가 제공하는 서비스를 받는 이용자</li>
				<li>3. 회원 : "Park Avenue"에 개인정보를 제공하여 회원등록을 한 자로서, "Park Avenue"로부터 아이디[ID]를 부여받은 개인이나 법인 또는 법인에 준 하는 단체</li>
				<li>4. 아이디[ID] : 회원식별과 회원의 서비스 이용을 위하여 회원이 설정하고 "KINDS"가 승인하는 문자 또는 숫자의 조합</li>
				<li>5. 비밀번호 : 회원의 비밀보호를 위해 회원 자신이 설정한 문자 또는 숫자의 조합</li>
				<li>6. 비회원 : 회원에 가입하지 않고 "Park Avenue"가 제공하는 서비스를 이용하는 자. 이때, 비회원이 이용할 수 있는 정보의 범위는 "Park Avenue"가 정함.</li>
			</ul>

			<h4>제 2 장 회원가입</h4>
			<h5>제 5 조 [회원가입]</h5>
			<ul class="s1">
				<li>① 이용자는 "Park Avenue"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.</li>
				<li>② "Park Avenue"는 제①항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
					<ul class="s3">
						<li>1. 가입신청자가 이 약관 제6조 제②항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제6조 제②항에 의한 회원자격 상실 후 2년이 경과한 자로서 "Park Avenue"의 회원 재 가입 승낙을 얻은 경우에는 예외로 합니다.</li>
						<li>2. 등록 내용에 허위, 기재누락, 오기가 있는 경우</li>
						<li>3. 기타 회원으로 등록하는 것이 "Park Avenue"의 기술상 현저히 지장이 있다고 판단되는 경우</li>
					</ul>
				</li>
				<li>③ 회원가입계약은 이용자가 "Park Avenue"에 가입신청을 완료하고 "Park Avenue"로부터 승낙이 도달한 시점에 성립한 것으로 합니다.</li>
				<li>④ 회원은 회원가입 시 기재한 회원정보에 변경이 있는 경우, 자신이 직접 수정해야 하며, 전자우편 또는 기타 방법으로 "Park Avenue"에 대하여 그 변경사항을 알려야 합니다.</li>
			</ul>

			<h5>제 6 조 [회원 탈퇴 및 자격 상실 등]</h5>
			<ul class="s1">
				<li>① 회원은 "Park Avenue"에 언제든지 탈퇴를 요청할 수 있으며 "Park Avenue"는 즉시 회원탈퇴를 처리합니다.</li>
				<li>② 회원이 다음 각 호의 사유에 해당하는 경우, "Park Avenue"는 회원 자격을 제한 및 정지시킬 수 있습니다.
					<ul class="s3">
						<li>1. 가입 신청 시에 허위 내용을 등록한 경우</li>
						<li>2. 다른 사람의 "Park Avenue"이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우</li>
						<li>3."Park Avenue""를 이용하여 법령과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하는 경우 </li>
					</ul>
				</li>
				<li>③ "Park Avenue"가 회원 자격을 제한?정지시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "Park Avenue"는 회원자격을 상실시킬 수 있습니다.</li>
				<li>④ "Park Avenue"가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 소명할 기회를 부여합니다.</li>
			</ul>

			<h5>제 7 조 [회원에 대한 통지] </h5>
			<ul class="s1">
				<li>① "Park Avenue"가 회원에 대한 통지를 하는 경우, 회원이 "Park Avenue"에 제출 한 전자우편 주소 또는 여타의 통신수단을 이용할 수 있습니다.</li>
				<li>② "Park Avenue"는 불특정다수 회원에 대한 통지의 경우 1주일이상 "Park Avenue"게시판[혹은 공지란]에 게시함으로서 개별통지에 갈음할 수 있</li>
			</ul>습니다.

			<h4>제 3 장 개인정보보호</h4>
			<ul class="s1">
				<li>"Park Avenue"는 회원의 개인정보 보호를 중시하여 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진등에 관한 법률 등 관련 법규에 의거한 개인정보보호정책을 제정하여 준수하고 있습니다. 다음 내용은 '개인정보보호지침'에 따라 작성되었습니다.</li>
			</ul>

			<h5>제 8 조 "Park Avenue"의 보안관리</h5>
			<ul class="s1">
				<li>"Park Avenue"는 이용자의 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보에 필요한 조치를 강구합니다. 단, 회원이 게시판이나 E-mail 등 온라인 상에서 자발적으로 제공하는 개인정보는 다른 사람이 수집하여 사용할 가능성이 있으며 이러한 위험은 본인에게 책임이 있으며, "Park Avenue"에는 책임이 없습니다.</li>
			</ul>

			<h5>제 9 조 [개인정보의 수집목적] </h5>
			<ul class="s1">
				<li>① 이용자는 "Park Avenue" 회원 가입 시 필요한 사항을 기입하여야 합니다.</li>
				<li>② "Park Avenue"가 이용자의 개인식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자의 동의를 받습니다.</li>
				<li>③ "Park Avenue"가 회원의 개인정보를 수집하는 목적은 오로지 서비스의 양적, 질적 향상과 서비스를 이용하는 이용자와 신뢰를 가지고 서비스를 원활히 제공할 수 있도록 하기 위함입니다.</li>
			</ul>

			<h5>제 10 조 [개인정보의 이용 및 관리] </h5>
			<ul class="s1">
				<li>① 제공된 개인정보는 당해 이용자의 동의 없이 목적 외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 "Park Avenue"가 집니다. 다만, 다음의 경우에는 예외로 합니다. </li>
				<li>② "Park Avenue"가 개인정보의 수집 및 이용에 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원[소속, 성명 및 전화번호 기타 연락처], 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사 항[제공받는 자, 제공목적 및 제공할 정보의 내용] 등 정보통신
					<ul class="s2">
						<li>1. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우</li>
						<li>2."Park Avenue"회원의 안전배가와 더 나은 서비스를 위해 제휴사를 설정 할 수 있으며 이를 위한 회원 정보제공의 경우</li>
						<li>3. 전기통신사업법 등 법률규정에 의해 국가 기관의 요구가 있는 경우, 수사상 목적이 있거나 정보통신윤리위원회의 요청이 있는 경우 또는 기타 관계법령 절차에 따른 정보제공 요청이 있는 경우</li>
					</ul>
				</li>
			</ul>
			</div>

			<h3><img src="/images/ti_h3_use.gif" alt="개인정보 보호정책" /></h3>
			<div class="usebox scl">
				<dl class="s5">
					<dt>1.개인정보의 수집목적 및 이용</dt>
					<dd>Park Avenue가 회원님 개인의 정보를 수집하는 목적은 Park Avenue 사이트를 통하여 회원님께 최적의 맞춤화된 서비스를 제공해드리기 위한 것입니다. Park Avenue는 각종의 컨텐츠를 무료로 서비스해 드리고 있습니다. 이때 회원님께서 제공해주신 개인정보를 바탕으로 회원님께 보다 더 유용한 정보를 선택적으로 제공하는 것이 가능하게 됩니다.</dd>
					
					<dt>2.수집하는 개인정보 항목 및 수집방법</dt>
					<dd>Park Avenue는 최초 회원가입을 하실 때 서비스 제공을 위해 가장 필수적인 개인정보를 받고 있습니다. 회원가입시에 받는 정보는 회원님의 이름, 주민등록번호, 주소, 연락처, 생년월일 등입니다. 또한 설문조사나 이벤트 시에 집단적인 통계분석을 위해서나 경품발송을 위한 목적으로도 개인정보 기재를 요청할 수 있습니다. 이때에도 기입하신 정보는 해당서비스 제공이나 회원님께 사전에 밝힌 목적 이외의 다른 어떠한 목적으로도 사용되지 않음을 알려드립니다.
					</dd>

					<dt>3.개인정보의 보유 및 폐기</dt>
					<dd>귀하 Park Avenue의 회원으로서 Park Avenue가 제공하는 서비스를 받는 동안 회원님의 개인정보는 Park Avenue에서 계속 보유하며 서비스 제공을 위해 이용하게 됩니다. 다만 Park Avenue의 회원이 아래의 '7. 자신의 개인정보 열람, 정정 및 삭제'에서 설명한 절차에 따라 ID를 삭제하거나 가입해지를 요청한 경우와 회원님께 사전에 알려드린 개인정보를 제공받은 목적이 달성된 경우에 수집된 개인의 정보는 재생할 수 없는 방법에 의하여 하드디스크에서 완전히 삭제되며 어떠한 용도로도 열람 또는 이용할 수 없도록 처리됩니다.</dd>
					
					<dt>4.개인정보의 제공 및 공유</dt>
					<dd>원칙적으로 Park Avenue 는 회원님의 개인정보를 타인 또는 타기업•기관에 공개하지 않습니다. 다만 회원님이 공개에 동의한 경우 또는 Park Avenue 의 서비스 이용약관을 위배하는 사람이나 Park Avenue 의 서비스를 이용하여 타인에게 법적인 피해를 주거나 미풍양속을 해치는 행위를 한 사람 등에게 법적인 조치를 취하기 위하여 개인정보를 공개해야 한다고 판단되는 충분한 근거가 있는 경우는 예외로 합니다. 이 경우에도 개인에게는 제공되지 않으며 규정된 절차에 따라서 수사기관에만 제공할 수 있습니다.</dd>
					<dd>Park Avenue 는 개인별 맞춤 서비스(Personalized Service) 등 보다 나은 서비스 제공을 위해 회원님의 개인정보를 비즈니스 파트너와 공유할 수 있습니다. 이 경우에도 정보수집 또는 정보제공 이전에 회원님께 비즈니스 파트너가 누구인지, 어떤 정보가 왜 필요한지, 그리고 언제까지 어떻게 보호/관리되는지 알려드리고 동의를 구하는 절차를 거치게 되며, 회원님께서 동의하지 않는 경우에는 추가적인 정보를 수집하거나 비즈니스 파트너와 공유하지 않습니다.</dd>
					<dd>성별, 연령별 기타 특정 조건의 집단에 대한 광고 게재 및 발송 시(예, 20대 여자)에도 회원님 개인의 정보는 광고를 의뢰한 개인이나 단체에 제공되지 않습니다.</dd>
					
					<dt>5.쿠키(cookie)의 운용 및 활용</dt>
					<dd>회원님 개개인에게 개인화되고(personalized) 맞춤화된(customized) 서비스를 제공하기 위해서 Park Avenue 는 회원님의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버가 사용자의 브라우저에게 보내는 조그마한 데이터 꾸러미로 회원님 컴퓨터의 하드디스크에 저장됩니다.</dd>
					<dd>회원님께서 Park Avenue 에 접속한 후 로그인(log-in)하여 운세 등의 개인화된 서비스나 맞춤화된 서비스를 이용하시기 위해서는 쿠키를 허용하여야 합니다. Park Avenue 는 회원님께 적합하고 보다 유용한 서비스를 제공하기 위해서 쿠키를 이용하여 회원님의 아이디에 대한 정보를 찾아냅니다.</dd>
					<dd>Park Avenue 에 접속하는 이용자의 브라우저에 고유한 쿠키를 부여함으로써 회원 및 비회원들의 Park Avenue 사이트 이용빈도나 전체 이용자수 등과 같은 이용자 규모를 파악하는데도 이용됩니다. 쿠키를 이용하여 회원님께서 방문한 Park Avenue서비스의 방문 및 이용형태를 파악함으로써 더 유용하고 이용하기 편리한 서비스를 만들어 제공할 수 있게 됩니다.</dd>
					<dd>회원님은 쿠키에 대한 선택권을 가지고 있습니다. 회원님의 웹브라우저에서 옵션을 선택함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다. 단, 쿠키의 저장을 거부하실 경우 로그인이 필요한 Park Avenue의 모든 서비스는 이용하실 수 없게 됩니다.</dd>
					
					<dt>6.개인정보보호를 위한 기술적/제도적 관리</dt>
					<dd>회원님의 개인정보는 비밀번호에 의해 보호되고 있습니다. 회원님 계정의 비밀번호는 오직 본인만이 알 수 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 따라서 회원님의 비밀번호는 누구에게도 알려주면 안됩니다. 또한 작업을 마치신 후에는 로그아웃(log-out)하시고 웹브라우저를 종료하는 것이 바람직합니다. 특히 다른 사람과 컴퓨터를 공유하여 사용하거나 공공장소에서 이용한 경우 개인정보가 다른 사람에게 알려지는 것을 막기 위해서 이와 같은 절차가 더욱 필요하다고 하겠습니다.</dd>
					<dd>Park Avenue는 개인정보 취급 직원을 최소한으로 제한하고 담당직원에 대한 수시 교육을 통하여 본 정책의 준수를 강조하고 있으며, 감사위원회의 감사를 통하여 본 정책의 이행사항 및 담당직원의 준수여부를 확인하여 문제가 발견될 경우 바로 시정조치하고 있습니다.</dd>

					<dt>7.자신의 개인정보 열람, 정정 및 삭제</dt>
					<dd>회원님은 언제든지 등록되어 있는 회원님의 개인정보를 열람하거나 정정하실 수 있으며, 아이디(ID) 삭제를 요청하실 수 있습니다. 회원님 개인 정보의 열람 및 정정은 Park Avenue의 My RA에서 하실 수 있습니다.</dd>
					
					<dt>8.어린이의 개인정보보호</dt>
					<dd>만14세 미만의 어린이는 자신에 대한 정보를 다른 사람에게 함부로 보내면 안되며, 보내기 전에 반드시 부모님의 허락을 받아야 합니다. Park Avenue 는 만14세 미만 어린이의 정보를 다른 사람 또는 업체와 공유하지 않으며, 만14세 미만의 어린이에게는 광고메일을 발송하지 않습니다.</dd>
					<dd>회원님 계정의 비밀번호에 대한 보안을 유지할 책임은 회원님 자신에게 있습니다. Park Avenue 에서 메일 또는 기타 방법으로 회원님께 비밀번호를 질문하는 경우는 절대 없으므로 어떠한 경우에도 비밀번호를 알려주지 마십시오. 로그온(log-on)한 상태에서는 주위의 다른 사람에게 개인정보가 유출되지 않도록 특별히 주의를 기울이시기 바랍니다.</dd>
					
					<dt>9.개인정보에 대한 민원처리 및 분쟁해결</dt>
					<dd>분쟁조정기관</dd>
					<dd>1) 개인정보분쟁조정위원회 (URL : www.kopico.or.kr / 전화 : 02-1336)</dd>
					<dd>2) 정보보호마크인증위원회 (URL : www.eprivacy.or.kr / 전화 : 02-580-0533~4)</dd>
					
					<dt>10.개인정보보호정책 개정</dt>
					<dd>Park Avenue이 본 정책을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행정책과 함께 초기화면에 그 적용일자 칠(7일) 이전부터 적용일자 전일까지 공지합니다.</dd>

					<dt>11.청소년 보호 활동</dt>
					<dd>Park Avenue는 서비스 약관 및 정책을 수립하고, 자체적으로 음란, 불법 등의 유해정보를 규제하고 있습니다. 청소년의 건전한 성장을 저해하는 비윤리적, 반사회적 행위에 대해서는 엄격히 제재하고자 노력하고 있습니다.</dd>
					
					<dt>12.청소년 보호 관련 법규 </dt>
					<dd>- 정보통신윤리위원회 심의규정</dd>
					<dd>- 청소년보호위원회 청소년유해매체물 심의 규정.</dd>
				</dl>
		</div>
		<!-- 버튼 -->
		<div class="joinbtn">
			<div class="j1">
				<input type="checkbox" id="y1" /><label for="y1"><img src="/images/th_svcagr.gif"  /></label>
				<input type="checkbox" id="y2" /><label for="y2"><img src="/images/th_useagr.gif"  /></label>
			</div>
			<div class="j2">
				<a href="javascript:continueRegist()"><img src="/images/bt_com.gif" alt="확인" /></a>
				<a href="/"><img src="/images/bt_cancel.gif" alt="취소" /></a>
			</div>
		</div>
		<!-- / 버튼 -->
	</div>
	<script type='text/javascript'>
		var continueRegist = function(){
			if($('#y1').attr('checked') && $('#y2').attr('checked')){
				location.href = '/member/registForm';
			}else{
				alert('약관 동의 후 회원 가입이 가능합니다.');
			}
		};
	</script>
{% endblock %}