{% extends "layouts/base01.html" %}
{% block contents %}
<form name='formChangePassword' method='POST' action='/member/changePasswordAction'>
	<input type='hidden' name='pw' value=''/>
	
	<div class="Contents clearfx">
	
		<h1>CHANGE PASSWORD</h1>

		<label for="pw1">PW (OLD):</label>
		<input type='password' id='old_pw' name='old_pw'/>
		
		<label for="pw1">PW (NEW):</label>
		<input type='password' id='pw1' name='pw1'/>

		<label for="pw2">PW (NEW, CONFIRM):</label>
		<input type='password' id='pw2' name='pw2'/>
		
		<button type="button" onclick='javascript:changePassword()'>CHANGE</button>
	</div>
</form>
<script type='text/javascript'>

var changePassword = function(){
	if($('input[name=pw1]').val() != $('input[name=pw2]').val()){
		alert('비밀번호를 다시 확인바랍니다.');
		return;
	}else{
		$('input[name=pw]').val($('input[name=pw1]').val());
	}
	if($('input[name=pw]').val().length < 8){
		alert('비밀번호가 8자리 이하입니다.');
		return;
	}
	//
	$('form[name=formChangePassword]').submit();
};
	
</script>
{% endblock %}