{% extends "layouts/base01.html" %}
{% block contents %}
<form name='formEditProfile' method='POST' action='/member/editProfileAction'>
	<div class="Contents clearfx">
		<div class="aCtrl">
			<h2>Profile <em>[프로필수정]</em></h2>
			<div class="Membx">
				<fieldset>
					<legend>프로필 수정 폼</legend>
					<dl class="mbs clearfx">
						<dt><img src="/images/ti_h2_base.gif" alt="기본입력정보" /></dt>
						<dd>
							<dl class="mbsIn">

								<dt><img src="/images/th_e_4.gif" alt="이름" /></dt>
								<dd>
									<input name='name' type="text" class="inp wd1" value="{{login.name}}" />
								</dd>
								<dt>패스워드</dt>
								<dd>
									<input name="password" type="password" class="inp wd1" value="" />
								</dd>
								<dt><img src="/images/th_e_6.gif" alt="메일수신" /></dt>
								<dd class="i6">
									<input name='email_rcpt_yn' type="radio" id="rec" value='Y'/>
									<label for="rec">수신합니다.</label>
									<input name='email_rcpt_yn' type="radio" id="Nrec" value='N'/>
									<label for="Nrec">수신하지 않습니다.</label>
								</dd>
								<dt><img src="/images/th_e_7.gif" alt="개인정보공개" /></dt>
								<dd class="i7">
									<input name='public_profile_yn' type="radio" id="pub" value='Y'/>
									<label for="pub">공개합니다.</label>
									<input name='public_profile_yn' type="radio" id="Npub" value='N'/>
									<label for="Npub">공개하지 않습니다.</label>
								</dd>
							</dl>
						</dd>
					</dl>

					<dl class="mbs2">
						<dt><img src="/images/ti_h2_provide.gif" alt="추가 입력정보" /></dt>
						<dd>
							<dl class="mbsIn">
								<dt><img src="/images/th_e_11.gif" alt="생년월일" /></dt>
								<dd>
									<input name='birth_luna_yn' type="radio" id="day1" value='Y'/><label for="day1">음력</label>
									<input name='birth_luna_yn' type="radio" id="day2" value='N'/><label for="day2">양력</label>
									<span class="calbx">
										<select name="birth_year" id="Year">
											{% for i in range(1900, 2045) %}
												<option value="{{i}}">{{i}}</option>
											{% endfor %}
										</select>
										<label for="Year">년</label>
										<select name="birth_month" id="Month">
											{% for i in range(1, 12) %}
												<option value="{{i}}">{{i}}</option>
											{% endfor %}
										</select>
										<label for="Month">월</label>
										<select name="birth_day" id="Day">
											{% for i in range(1, 31) %}
												<option value="{{i}}">{{i}}</option>
											{% endfor %}
										</select>
										<label for="Day">일</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
				</fieldset>
				<div class="btnx"><a href="javascript:editProfile()"><img src="/images/bt_pfsave.gif" alt="수정" /></a></div>				
			</div>
		</div>
	</div>
</form>
<script type='text/javascript'>

$(document).ready(function(){
	// 이메일 수신동의
	$('input[name=email_rcpt_yn][value={{login.email_rcpt_yn}}]').attr('checked', 'checked');
	// 프로필 공개
	$('input[name=public_profile_yn][value={{login.public_profile_yn}}]').attr('checked', 'checked');
	// 생일 - 연, 월, 일, 음력?
	$('select[name=birth_year]').val('{{login.birth_year}}');
	$('select[name=birth_month]').val('{{login.birth_month}}');
	$('select[name=birth_day]').val('{{login.birth_day}}');
	$('input[name=birth_luna_yn][value={{login.birth_luna_yn}}]').attr('checked', 'checked');	
});

//
var editProfile = function(){
	var requiredForms = {
		'input[name=name]':	'회원 성명을 입력해주세요.',
		'input[name=email_rcpt_yn]:checked':	'이메일 수신여부를 체크해주세요.',
		'input[name=public_profile_yn]:checked':	'프로필 공개여부를 체크해주세요.'
	};
	if(_.any(_.keys(requiredForms), function(k){
		if($(k).val().length < 1){
			alert(requiredForms[k]);
			return true;
		}else{
			return false;
		}
	})) return;
	// submit
	$('form[name=formEditProfile]').submit();
};




	
</script>
{% endblock %}