{% extends "layouts/base01.html" %}
{% block contents %}
<form name='formFindPw' method='POST' action='/member/findPwAction'>
	<div class="Contents clearfx">
	
		<h1>FIND PW</h1>

		<label for="id">ID:</label>
		<input type='text' id='id' name='id'/>
		
		<label for="name">NAME:</label>
		<input type='text' id='name' name='name'/>
		
		<label for="email">EMAIL:</label>
		<input type='text' id='email' name='email'/>
		
		<button type="button" onclick='javascript:findPw()'>FIND</button>
	</div>
</form>
<script type='text/javascript'>

var findPw = function(){
	$('form[name=formFindPw]').submit();
	// NOTE: http://api.jquery.com/jQuery.post/
	// NOTE: dataType = html --> $.append
};
	
</script>
{% endblock %}