{% extends "layouts/base01.html" %}
{% block contents %}
<form name='formFindId' method='POST' action='/member/findIdAction'>
	<div class="Contents clearfx">
	
		<h1>FIND ID</h1>

		<label for="email">EMAIL:</label>
		<input type='text' id='email' name='email'/>
		
		<label for="name">NAME:</label>
		<input type='text' id='name' name='name'/>		
		
		<button type="button" onclick='javascript:findId()'>FIND</button>
	</div>
</form>
<script type='text/javascript'>

var findId = function(){
	$('form[name=formFindId]').submit();
};
	
</script>
{% endblock %}