{% extends "layouts/base01.html" %}
{% block contents %}
<form name='formLogin' method='POST' action='/member/loginAction'>
<div class="Contents clearfx">
	<h2>Login</h2>
	<div class="loginCont clearfx">
		<!-- 일반로그인 -->
		<div class="delog">
			<fieldset>
				<legend>일반로그인 영역</legend>
				<h3><img src="/images/ti_h3_delog.gif" alt="일반로그인" /></h3>
				<div class="logbx">
					<dl class="log">
						<dt><img src="/images/th_id.gif" alt="Memeber ID" /></dt>
						<dd><input type="text" id="id" name="id" /></dd>
						<dt><img src="/images/th_pass.gif" alt="Password" /></dt>
						<dd><input type="password" id="pw" name="pw" /></dd>
					</dl>
					<!-- 로그인 버튼 -->
					<div class="logbt"><a href="#" onclick='javascript:login()'><img src="/images/bt_login.gif" alt="로그인" /></a></div>
					<ul class="membt">
						<li><a href="/member/agrees"><img src="/images/bt_mem.gif" alt="" /></a></li>
						<li><a href="#" id="findbx"><img src="/images/bt_mfind.gif" alt="" /></a></li>
					</ul>
				</div>
			</fieldset>
		</div>

		<!-- 소셜로그인 -->
		<div class="snsCont">
			<fieldset>
				<legend>소셜아이디 로그인 영역</legend>
				<h3><img src="/images/ti_h3_snslog.gif" alt="소셜 아이디 로그인" /></h3>
				<div class="logbx">
					<ul class="log">
						<li><a href="/twitter/redirect.php"><img src="/images/sns-icons/twitter_li.gif" alt="트워터" /></a></li>
						<li><a href="/facebook/redirect.php"><img src="/images/sns-icons/facebook_li.gif" alt="페이스북" /></a></li>
					</ul>
					<dl class="log" style="display:none;">
						<dt><img src="/images/th_id.gif" alt="Memeber ID" /></dt>
						<dd><input type="text" title="Member ID" /></dd>
						<dt><img src="/images/th_pass.gif" alt="Password" /></dt>
						<dd><input type="password" title="Password" /></dd>
					</dl>
					<!-- 로그인 버튼 -->
					<div class="logbt"><!-- <a href="#"><img src="/images/bt_login.gif" alt="로그인" /></a> --></div>
					<div class="tx1"><img src="/images/txt_cp_1.gif" alt="소셜 아이디 로그인이란" /></div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
{% endblock %}

{% block body2 %}
<!-- find id, pw -->
<div class="findbox window" style="display:none;z-index:15;">
	<div class="find clearfx">
		<div class="findfm">
			<h2><img src="/images/ti_find_id.gif" alt="Find Login Id 아이디찾기" /></h2>	
			
			{# NOTE: 아이디 찾기 성공 #}
			<span id='find_id_ok'></span>
			
			
			{# NOTE: 아이디 찾기 실패 #}
			<span id='find_id_fail'></span>
			
			
			<fieldset>
				<legend>아이디찾기 폼</legend>
				<dl class="findId clearfx">
					<dt><img src="/images/th_nm.gif" alt="회원이름" /></dt>
					<dd><input type="text" class="inp" id="find_id_name"/></dd>
					<dt><img src="/images/th_eml.gif" alt="이메일"/></dt>
					<dd><input type="text" class="inp"  id="find_id_email"/></dd>
				</dl>
				<div class="bT"><a href="javascript:find_id()"><img src="/images/bt_idfind.gif" alt="아이디찾기" /></a></div>
			</fieldset>
		</div>
		
		<div class="findfm2">
			<h2><img src="/images/ti_find_pw.gif" alt="Find Login pw 패스워드찾기" /></h2>
			<span id='find_pw_ok'></span>
			<span id='find_pw_fail'></span>
			<fieldset>
				<legend>패스워드 찾기 폼</legend>
				<dl class="findPw clearfx">
					<dt><img src="/images/th_id2.gif" alt="회원아이디"  /></dt>
					<dd><input type="text" class="inp" id='find_pw_id'/></dd>
					<dt><img src="/images/th_nm.gif" alt="회원이름" /></dt>
					<dd><input type="text" class="inp" id='find_pw_name'/></dd>
					<dt><img src="/images/th_eml.gif" alt="이메일" /></dt>
					<dd><input type="text" class="inp" id='find_pw_email'/></dd>
				</dl>
				<div class="bT"><a href="javascript:find_pw()"><img src="/images/bt_pwfind.gif" alt="비밀번호찾기" /></a></div>
			</fieldset>
		</div>
	</div>
	<div class="findtxt">
		<ul>
			<li>- 신규회원 가입시 입력한 정보를 정확히 입력 해 주시기 바랍니다.</li>
			<li>- 비밀번호는 신규회원 가입시 입력한 이메일로 발송됩니다.</li>
		</ul>
	</div>
	<span class="close"><a href="#"><img src="/images/bt_close.gif" alt="닫기" /></a></span>
</div>


<!-- find -->
<div class="findobx3 window" style="display:none;">
	<h2><img src="/images/ti_find_id2.gif" alt="Find Login Id 아이디찾기" /></h2>
	<p class="fmsg"><img src="/images/vi_find_msg.gif" alt="아이디가 회원님의 이메일로 발송 되었습니다." /></p>
	<div class="findother">
		<a href="/"><img src="/images/bt_main.gif" alt="메인으로" /></a>
	</div>
	<span class="close"><a href="#"><img src="/images/bt_close.gif" alt="닫기" /></a></span>
</div>


<!-- find -->
<div class="findobx4 window" style="display:none;z-index:20;">
	<!-- TODO: ..............비밀번호 찾기로. -->
	<h2><img src="/images/ti_find_id3.gif" alt="Find Login PW 비밀번호찾기" /></h2>
	<p class="fmsg"><img src="/images/vi_find_msg2.gif" alt="임시 비밀번호가 회원님의 이메일로 발송 되었습니다." /></p>
	<div class="findother">
		<a href="/"><img src="/images/bt_main.gif" alt="메인으로" /></a>
	</div>
	<span class="close"><a href="#"><img src="/images/bt_close.gif" alt="닫기" /></a></span>
</div>

</form>

{# NOTE: 이하는 '아이디 찾기' 자바스크립트. #}
<script type='text/javascript'>
var find_id = function(){
	var name = $('#find_id_name').val();
	var email = $('#find_id_email').val();
	var arg = {name: name, email: email};
	//console.log(arg);
	$.post('/member/findIdAction', arg, function(data){
		//console.log(data);
		//
		$('#find_id_ok').empty();
		$('#find_id_fail').empty();
		//
		if(data && data.found){
			// 성공시.
			//$('#find_id_ok').append("회원 아이디는: " + data.id + "입니다.");
			$('.window:visible').hide();
			$('.window.findobx3').show();	
			$('.window:visible').center();
		}else{
			// 실패시.
			//$('#find_id_fail').append("회원을 찾을 수 없습니다.");
			alert("회원을 찾을 수 없습니다.");
		}
	}, 'json');
};
</script>


{# NOTE: 이하는 '비밀번호 찾기' 자바스크립트. #}
<script type='text/javascript'>
var find_pw = function(){
	var name = $('#find_pw_name').val();
	var email = $('#find_pw_email').val();
	var id = $('#find_pw_id').val();
	var arg = {name: name, email: email, id: id};
	//console.log(arg);
	$.get('/member/findPwAction', arg, function(data){
		//console.log(data);
		//
		$('#find_pw_ok').empty();
		$('#find_pw_fail').empty();
		//
		if(data && data.found){
			// 성공시.
			//$('#find_pw_ok').append("임시 비밀번호는: " + data.new_pw + "입니다.");
			// NOTE: $('#find_pw_ok').append("회원님의 이메일로 임시 비밀번호를 발송하였습니다.");
			$('.window:visible').hide();
			$('.window.findobx4').show();
			$('.window:visible').center();
		}else{
			// 실패시.
			//$('#find_pw_fail').append("회원을 찾을 수 없습니다.");
			alert("회원을 찾을 수 없습니다.");
		}
	}, 'json');
};
</script>


<script type='text/javascript'>
	var maskPopUp = function(){
		var maskHeight = $(document).height();
		var maskWidth = $(window).width();
		$('#mask').css({'width':maskWidth,'height':maskHeight});
		$('#mask').fadeIn(1000);	
		$('#mask').fadeTo("slow",0.8);
	};


	
$(document).ready(function() {	
	$(window).resize(function(){
		//maskPopUp();		
		$('.window:visible').center();
	});
	
	$('.close').click(function (e) {
		e.preventDefault();		
		$('#mask').hide();
		$('.window:visible').hide();
	});
	
	$('#findbx').click(function(e) {
		e.preventDefault();
		var idpwFind = $('.findbox');
		maskPopUp();
		$(idpwFind).center();
		$(idpwFind).fadeIn(2000); 
	});
});

var login = function(){
	$('form[name=formLogin]').submit();
};
	
</script>




{% endblock %}
