{% extends "layouts/base01.html" %}
{% block contents %}
<form name='formRegist' method='POST' action='/member/registAction'>
	<input type='hidden' name='memberIdChecked' value=''>
	<input type='hidden' name='memberEmailChecked' value=''>
	<input type='hidden' name='pw' value=''>
	<div class="Contents clearfx">
		<div class="aCtrl">
			<h2>Administration <em>[회원등록]</em></h2>
			<div class="Membx">
				<fieldset>
					<legend>회원등록 폼</legend>
					<dl class="mbs clearfx">
						<dt><img src="/images/ti_h2_base.gif" alt="기본입력정보" /></dt>
						<dd>
							<dl class="mbsIn">
								<dt><img src="/images/th_e_1.gif" alt="아이디" /></dt>
								<dd>
									<input name='id' type="text" class="inp wd1" value="" />
									<button type="button" class="chkbx" onclick='javascript:checkMemberIdDup()'>중복확인</button>
								</dd>

								<dt><img src="/images/th_e_2.gif" alt="비밀번호" /></dt>
								<dd><input name='pw1' type="password" class="inp wd1" value="" /></dd>

								<dt><img src="/images/th_e_3.gif" alt="비밀번호 확인" /></dt>
								<dd><input name='pw2' type="password" class="inp wd1" value="" /></dd>

								<dt><img src="/images/th_e_4.gif" alt="이름" /></dt>
								<dd><input name='name' type="text" class="inp wd1" value="" /></dd>

								<dt><img src="/images/th_e_5.gif" alt="" /></dt>
								<dd>
									<input name='email' type="text" class="inp wd2" value="" />
									<button type="button" class="chkbx" onclick='javascript:checkMemberEmailDup()'>중복확인</button>
								</dd>
								<dt><img src="/images/th_e_6.gif" alt="메일수신" /></dt>
								<dd class="i6">
									<input name='email_rcpt_yn' type="radio" id="rec" value='Y'/>
									<label for="rec">수신합니다.</label>
									<input name='email_rcpt_yn' type="radio" id="Nrec" value='N'/>
									<label for="Nrec">수신하지 않습니다.</label>
								</dd>
								<dt><img src="/images/th_e_7.gif" alt="개인정보공개" /></dt>
								<dd class="i7">
									<input name='public_profile_yn' type="radio" id="pub" value='Y'/>
									<label for="pub">공개합니다.</label>
									<input name='public_profile_yn' type="radio" id="Npub" value='N'/>
									<label for="Npub">공개하지 않습니다.</label>
								</dd>
							</dl>
						</dd>
					</dl>

					<dl class="mbs2">
						<dt><img src="/images/ti_h2_provide.gif" alt="추가 입력정보" /></dt>
						<dd>
							<dl class="mbsIn">
								<dt><img src="/images/th_e_11.gif" alt="생년월일" /></dt>
								<dd>
									<input name='birth_luna_yn' type="radio" id="day1" value='Y'/><label for="day1">음력</label>
									<input name='birth_luna_yn' type="radio" id="day2" value='N'/><label for="day2">양력</label>
									<span class="calbx">
										<select name="birth_year" id="Year">
											{% for i in range(1900, 2045) %}
												<option value="{{i}}">{{i}}</option>
											{% endfor %}
										</select>
										<label for="Year">년</label>
										<select name="birth_month" id="Month">
											{% for i in range(1, 12) %}
												<option value="{{i}}">{{i}}</option>
											{% endfor %}
										</select>
										<label for="Month">월</label>
										<select name="birth_day" id="Day">
											{% for i in range(1, 31) %}
												<option value="{{i}}">{{i}}</option>
											{% endfor %}
										</select>
										<label for="Day">일</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="regbtn">
		<a href="javascript:proceedRegist();"><img src="/images/bt_regist.gif" alt="회원가입" /></a>
		<a href="/"><img src="/images/bt_cancel2.gif" alt="취소" /></a>
	</div>
</form>
<script type='text/javascript'>



var checkMemberIdDup = function(){
	var u = '/member/countRegisteredMemberId/' + $('input[name=id]').val();
	$.get(u, function(data){
		if(Number(data)<1){
			$('input[name=memberIdChecked]').val('Y');
			alert('사용할 수 있는 아이디입니다.');
		}else{
			alert('사용할 수 없는 아이디입니다.');
		}
	}, 'text');
};


var checkMemberEmailDup = function(){
	var u = '/member/countRegisteredMemberEmail/' + $('input[name=email]').val();
	$.get(u, function(data){
		if(Number(data)<1){
			$('input[name=memberEmailChecked]').val('Y');
			alert('사용할 수 있는 이메일입니다.');
		}else{
			alert('사용할 수 없는 이메일입니다.');
		}
	}, 'text');
};


$(document).ready(function(){
	$('input[name=id]').change(function(){
		$('input[name=memberIdChecked]').val('');
	});
	$('input[name=email]').change(function(){
		$('input[name=memberEmailChecked]').val('');
	});
	//
	var clearPw = function(){
		$('input[name=pw]').val('');
	};
	$('input[name=pw1]').change(clearPw);
	$('input[name=pw2]').change(clearPw);
});


//
var proceedRegist = function(){
	if($('input[name=pw1]').val() != $('input[name=pw2]').val()){
		alert('비밀번호를 다시 확인바랍니다.');
		return;
	}else{
		$('input[name=pw]').val($('input[name=pw1]').val());
	}
	if($('input[name=pw]').val().length < 8){
		alert('비밀번호가 8자리 이하입니다.');
		return;
	}

	var requiredForms = {
		'input[name=id]':	'회원 아이디를 입력해주세요.',
		'input[name=name]':	'회원 성명을 입력해주세요.',
		'input[name=email]':	'회원 이메일을 입력해주세요.',
		'input[name=email_rcpt_yn]:checked':	'이메일 수신여부를 체크해주세요.',
		'input[name=public_profile_yn]:checked':	'프로필 공개여부를 체크해주세요.',
		'input[name=memberIdChecked]':		'회원 아이디 중복 여부를 체크해주세요.',
		'input[name=memberEmailChecked]':	'회원 이메일 중복 여부를 체크해주세요.'
	};
	if(_.any(_.keys(requiredForms), function(k){
		if($(k).val().length < 1){
			alert(requiredForms[k]);
			return true;
		}else{
			return false;
		}
	})) return;
	
	
	// submit
	$('form[name=formRegist]').submit();
};




	
</script>
{% endblock %}