

	<div class='im'>
		<img id='main_img' src='' width="382" height="492" style="display:none;">
	</div>
	
	<div class="Info">
		<dl>
			<!--<dd class="i1">Makeup Deretor</dd> part -->
			<dt class="i2">{{post.title}}</dt>
			<dd class="i3">{{post.contents|nl2br}}</dd> <!-- profile -->
			<!--<dd class="i4">content in</dd>content -->
		</dl>

		{# NOTE: 해당 게시물에 속한 사진들 #}
		<div class="imgs">
			{% for a in attachments %}
				<img width="50" height="50" src='/boardDownloadAttachment.php?id={{a.id}}'
					onclick='javascript:changeMainImg({{loop.index0}})' style='cursor:pointer;'>
			{% endfor %}		
		</div>

		<div class="btnx">
			{% if login_staff %}
			<a href='/board/editForm/{{board.id}}/{{post.id}}'><img src="/images/bt_edit.gif" alt="수정" /></a>
			<a href="javascript:deletePost('{{board.id}}','{{post.id}}')"><img src="/images/bt_del_admin.gif" alt="삭제" /></a>
			{% endif %}
		</div>
	</div>
	<div class="close"><a href="javascript:close();" onclick="close();"><img src="/images/bt_close.gif" alt="닫기" /></a></div>

<script type='text/javascript'>
var changeMainImg = function(idx){
	var $img = $('.im > img#main_img');
	$img.attr('src', $($('.imgs > img').get(idx)).attr('src'));
	$img.show();
};

$(document).ready(function(){
	// NOTE: 로딩하면 맨 첫번째 항목을 그냥 메인에 표시하기.
	if($('.imgs > img').length>0) changeMainImg(0);
});

</script>
