{% extends "layouts/base01.html" %}
{% block contents %}
{% import "layouts/macros.html" as macros %}
{% include "board/board.js.html" %}
<div class="Contents">
	<h2>Reservations <em>[예약상담]</em></h2>
	{% include "layouts/supportsub.html" %}

	<script type="text/javascript">
	$('.subMenu > li > a').eq(2).addClass('on');
	</script>

	<div class="adstrList">
		<div class="Tbhit">
			전체게시물 <span>150</span>, 현재페이지 <span>1/20</span>
		</div>
		<div class="adTb">
			<table>
				<colgroup>
					<col width="10%" />
					<col width="*" />
					<col width="15%" />
					<col width="20%" />
				</colgroup>
				<thead>
					<tr>
						<th><img src="/images/th_c1.gif" alt="번호" /></th>
						<th><img src="/images/th_e2.gif" alt="제목" /></th>
						<th><img src="/images/th_e3.gif" alt="이름" /></th>
						<th><img src="/images/th_e4.gif" alt="날짜" /></th>
					</tr>
				</thead>
				<tbody>
					{% for p in pagination %}
					<tr>
						<td class="r1">{{p.id}}</td>
						<td class="r2"><a href='/board/view/{{board_id}}/{{p.id}}'><p>{{p.title}}</p></a></td>
						<td class="r3">{{p.member.name}}</td>
						<td class="r4">{{fmtYearMoDaHoMiSe(p.ctime)}}</td>
					</tr>
					{% endfor %}
					{% if pagination|length < 1 %}
					<tr>
						<td cols="5">게시물이 없습니다.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>

		<div class="pagingbx">
			<span><a href='{{macros.boardListLink(board_id, 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prevx.gif" alt="맨처음" /></a></span>
			{% if curpage > 1 %}    
				<span><a href='{{macros.boardListLink(board_id, curpage - 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prev.gif" alt="이전" /></a></span>
			{% else %}
				<span><img src="/images/bt_prev.gif" alt="이전" /></span>
			{% endif %}

			{% for pn in page_numbers %}
				{% if pn == curpage %}
					<strong>{{pn}}</strong>
				{% else %}
					<a href='{{macros.boardListLink(board_id, pn, search, by_id, by_name, by_title, by_contents)}}'>{{pn}}</a>
				{% endif %}
			{% endfor %}

			{% if (curpage + 1) <= pagination_info.total_pages %}
				<span><a href='{{macros.boardListLink(board_id, curpage + 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_next.gif" alt="다음" /></a></span>
			{% else %}
			<span><img src="/images/bt_next.gif" alt="다음" /></span>
			{% endif %}
			<span><a href='{{macros.boardListLink(board_id, pagination_info.total_pages, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_nextx.gif" alt="맨마지막" /></a></span>
		</div>


		<div class="btnbox clearfx">
			
			{# NOTE: 비-관리자에서만 가능 #}
			{% if not login_staff %}
			<div class="ap"><a href='/board/writeForm/{{board_id}}'><img src="/images/bt_boardWrite.gif" alt="글쓰기" /></a></div>
			{% endif %}

			<div class="mSchbx">
				<fieldset>
					<legend>검색영역</legend>
					<div class="a">
						<input type='checkbox' id='by_id' name='by_id' value='Y' {% if by_id == 'Y' %}CHECKED{% endif %} />
						<label for="did"><img src="/images/th_d_3.gif" alt="아이디" /></label>
						<input type='checkbox' id='by_name' name='by_name' value='Y' {% if by_name == 'Y' %}CHECKED{% endif %} />
						<label for="dnm"><img src="/images/th_d_1.gif" alt="이름" /></label>
						<input type='checkbox' id='by_title' name='by_title' value='Y' {% if by_title == 'Y' %}CHECKED{% endif %} />
						<label for='by_title'>TITLE</label>
						<input type='checkbox' id='by_contents' name='by_contents' value='Y' {% if by_contents == 'Y' %}CHECKED{% endif %} />
						 <label for='by_contents'>CONTENTS</label>
					</div>
					<div class="b"><input type="search" class="inp" name='search' value='{{search}}' /><input type='image' src="/images/bt_bbs_sch.gif" title="검색" value="검색"></div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
{% endblock %}
