{% extends "layouts/base01.html" %}
{% block contents %}
{% include "board/board.js.html" %}
<div class="Contents">
	<h2>Reservations <em>[예약상담]</em></h2>
	{% include "layouts/supportsub.html" %}

	<script type="text/javascript">
	$('.subMenu > li > a').eq(2).addClass('on');
	</script>

	<div class="bbsView">
		<div class="dateName">{{post.member.name}}  {{fmtYearMoDaHoMiSe(post.ctime)}}</div>
		<div class="title">{{post.title}}</div>

		<div class="con">
			
			<pre>{{post.contents}}</pre>
			{{post.member.email}}
		</div>
		
		{% if login_staff %}
		<div class="btnbx">	{# NOTE: 관리자에서만 가능 Edit, Del, Back to List #}
			<a href='/board/editForm/{{board.id}}/{{post.id}}'><img src="/images/bt_edit.gif" alt="수정" /></a>
			<a href="javascript:deletePost('{{board.id}}','{{post.id}}')"><img src="/images/bt_del.gif" alt="삭제" /></a>
			<a href='/board/list/{{board.id}}'><img src="/images/bt_list.gif" alt="목록" /></a>
		</div>
		{% endif %}
	</div>
	<ul>
	{% for a in attachments %}
		<li>
			<a href='/boardDownloadAttachment.php?id={{a.id}}'>
				첨부파일: {{a.file_name}} ({{a.file_size}} bytes)
			</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
