{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">
	<h2>Reservations <em>[예약상담]</em></h2>
	{% include "layouts/supportsub.html" %}

	<script type="text/javascript">
	$('.subMenu > li > a').eq(2).addClass('on');
	</script>
	<form id='frm' action='/board/writeAction/{{board.id}}' method='POST' enctype="multipart/form-data">
		<div class="resvtTb">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="15%" />
					<col width="*" />
				</colgroup>
				<tbody>
					<tr>
						<td><label for='title'>제목</label></td>
						<td><input type='text' id='title' name='title'></td>
					</tr>
					<tr>
						<td><label for="contact">연락처</label></td>
						<td><input type='text' id='contact' name='contact'></td>
					</tr>
					<tr>
						<td><label for="contents">내용</label></td>
						<td><textarea id='contents' name='contents'></textarea></td>
					</tr>
					<tr>
						<td><label for="file">첨부파일</label></td>
						<td><input type='file' id='file' name='file'></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="savebx"><input type='image' src="/images/bt_res_save.gif" value='저장' /></div>
	</form>
</div>

<script type='text/javascript'>
$(document).ready(function(){
	$('#frm').submit(function() {
		// 연락처 기입 유도.
		if($('#contact').val().length < 1){
			alert('연락처를 남겨주세요.');
			return false;
		}else{
			// 연락처를 그냥 내용에 덧붙이기.
			$('#contents').val(
				$('#contents').val() + '\n\n(연락처: ' + $('#contact').val() + ')');	
		}
		//
		return true;
	});
});
</script>
{% endblock %}