body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td{font-family:돋움,Dotum,sans-serif;font-size:12px;margin:0;padding:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
input,textarea,select{font-family:돋움,Dotum,sans-serif;font-size:12px;}
ol,ul,dl{list-style:none;}
fieldset,img{border:0;}
fieldset legend{display:none;}
table{border-collapse:collapse;border-spacing:0;}
caption{display:none;}
.clearfx{zoom:1;}
.clearfx:after{content: ".";clear:both;display:block;height:0;visibility:hidden;}
.inp{border:1px solid #ccc;}
.wd1{width:126px;}
.wd2{width:254px;}

.Wrap{position:relative;width:1000px;margin:0 auto;}
.gnbx{position:absolute;top:75px;left:0;width:100%;background:#000;}
.gnbx h1{float:left;}
.gnbx .gnb{position:absolute;top:0;right:0;padding:3px 10px 0 0;}
.gnbx .gnb li{float:left;margin-left:10px;}
.gnbx .gnb li a{color:#fff;text-decoration:none;}
.gnbx .gnb .on{color:#faca44;}

.loginbx{position:absolute;top:0;right:0;}
.loginbx li{float:left;}
.loginbx li a, .loginbx li em{display:block;float:left;height:20px;background:url(../images/bt_Toplog.gif) no-repeat;text-indent:-9999px;}
.loginbx .l1 a{width:34px;background-position:0 0;}
.loginbx .l2 a{width:50px;background-position:-48px 0;}
.loginbx li em{width:14px;background-position:-34px 0;}

.subMenu{position:absolute;top:198px;right:0;}
.subMenu li{float:left;margin-left:10px;}
.subMenu li a{font-size:11px;color:#9d9ba0;text-decoration:none;}

.snsbx{position:absolute;top:48px;right:0;}
.snsbx li{float:left;margin-left:8px;}
.snsbx li a{display:block;float:left;width:22px;height:19px;background:url(../images/bt_Topsns.gif) no-repeat;text-indent:-9999px;}
.snsbx .s1 a{background-position:0 0;}
.snsbx .s2 a{background-position:-30px 0;}

.Contents{position:relative;margin-bottom:30px;padding:160px 0 0 0;}
.Contents h2{border-bottom:1px solid #000;}

.footerbx{padding:10px 0 0 0;border-top:1px solid #d5d5d5;}
.footerbx address{float:left;padding-left:20px;background:url(../images/ic_coyright.gif) no-repeat;}
.footerbx .addr{float:right;padding-left:20px;background:url(../images/ic_ar.gif) 0 1px no-repeat;}

.loginCont2{padding:100px 0;}
.loginCont2 .logbx{overflow:hidden;}
.loginCont2 .delog{width:230px;margin:0 auto;}
.loginCont2 .delog h3{margin-bottom:101px;}
.loginCont2 .delog .log{overflow:hidden;width:231px;margin:0 0 14px 0;}
.loginCont2 .log dt{float:left;width:80px;}
.loginCont2 .log dd{float:left;width:151px;height:31px;}
.loginCont2 .log dd input{width:137px;height:18px;padding:4px 6px 0 6px;border:1px solid #cdcdcd;}
.loginCont2 .logbt{margin:0 0 50px 80px;}
.loginCont2 .membt{margin-left:80px;}
.loginCont2 .membt li{margin-bottom:9px;}

.loginCont{padding:10px 0;border-bottom:1px solid #d5d5d5;}
.loginCont .logbx{overflow:hidden;}
.loginCont .delog{float:left;width:475px;padding:24px 0 0 21px;}
.loginCont .delog h3{margin-bottom:101px;}
.loginCont .delog .log{overflow:hidden;width:281px;margin:0 0 14px 73px;}
.loginCont .log dt{float:left;width:80px;}
.loginCont .log dd{float:left;width:200px;height:31px;}
.loginCont .log dd input{width:181px;height:18px;padding:4px 6px 0 6px;border:1px solid #cdcdcd;}
.loginCont .logbt{margin:0 0 50px 153px;}
.loginCont .membt{margin-left:153px;}
.loginCont .membt li{margin-bottom:9px;}

.snsCont{float:left;padding:24px 0 0 21px;border-left:1px solid #ccc;}
.snsCont h3{margin-bottom:65px;}
.snsCont .log{float:left;width:285px;margin:0 0 20px 73px;}
.snsCont .snsbx{margin:0 0 8px 150px;}
.snsCont .snsbx li{float:left;margin-right:13px;}
.snsCont .snsbx li input{vertical-align:middle;}
.snsCont .snsbx li img{vertical-align:middle;}
.snsCont .snsbx li.fb, .snsbx li.tw{padding:4px 0 0 0;}
.snsCont .logbt{clear:both;}
.snsCont .tx1{width:411px;height:116px;padding:23px 0 0 0;border-top:1px solid #cdcdcd;}

.findbox{overflow:hidden;position:absolute;top:0;left:0;border:1px solid #cbcbcb;background:#fff;}
.findbox .find{padding:10px 0 10px 23px;}
.findbox h2{margin-bottom:82px;}
.findbox dl{width:251px;}
.findbox dt{float:left;width:69px;padding:7px 0 0 0;}
.findbox dd{float:left;width:182px;height:31px;}
.findbox .inp{width:168px;height:21px;padding:3px 6px 0 6px;border:1px solid #ccc;}
.findbox .findfm{float:left;width:329px;margin-right:23px;padding:0 0 90px 0;border-right:1px solid #d6d6d6;}
.findbox .findfm2{float:left;width:363px;}
.findbox .findId{margin-bottom:102px;padding:0 0 0 28px;}
.findbox .findPw{margin-bottom:71px;padding:0 0 0 23px;}
.findbox .bT{margin-left:98px;}
.findbox .findtxt{height:55px;padding:25px 0 0 218px;background:#f0f0f0;}
.findbox .findtxt li{margin-bottom:10px;}
.findbox .close{position:absolute;top:11px;right:13px;}

.findobx2{position:absolute;top:0;right:0;width:767px;background:#fff;border:1px solid #ccc;}
.findobx2 h2{margin-bottom:88px;padding:23px 0 0 23px;}
.findobx2 .inp{width:168px;height:20px;padding:2px 6px 0 6px;border:1px solid #ccc;}
.findobx2 .ftxt{margin-bottom:90px;text-align:center;}
.findobx2 .find{width:251px;margin:0 auto 66px auto;}
.findobx2 dl{margin-bottom:14px;}
.findobx2 dt{float:left;width:69px;padding:7px 0 0 0;}
.findobx2 dd{float:left;width:182px;height:31px;}
.findobx2 .bT{display:block;padding-left:69px;}
.findobx2 .findother{height:52px;padding:28px 0 0 0;background:#f0f0f0;text-align:center;}
.findobx2 .close{position:absolute;top:11px;right:13px;}
.findobx3{position:absolute;bottom:0;right:0;width:767px;background:#fff;border:1px solid #ccc;}
.findobx3 h2{margin-bottom:131px;padding:23px 0 0 23px;}
.findobx3 .fmsg{margin-bottom:125px;text-align:center;}
.findobx3 .findother{height:52px;padding:28px 0 0 0;background:#f0f0f0;text-align:center;}
.findobx3 .close{position:absolute;top:11px;right:13px;}

/*홈페이지 관리*/
.adstr{margin:110px 0 100px 0;text-align:center;}

/*회원관리*/
.adstrList{width:815px;margin:0 auto;}
.adstrList .Tbhit{padding:45px 0 5px 0;}
.adstrList .adTb{width:815px;margin:0 auto;border-top:1px solid #ccc;}
.adstrList .adTb table{width:100%;}
.adstrList .adTb th{height:32px;border-bottom:1px solid #ccc;}
.adstrList .adTb td{height:32px;border-bottom:1px solid #ccc;text-align:center;}
.adstrList .btnbox{width:815px;margin:55px auto 0 auto;}
.adstrList .btnbox .ap{float:left;width:30%;}
.adstrList .btnbox .mSchbx{float:right;width:60%;}
.adstrList .btnbox .mSchbx .a{float:left;}
.adstrList .btnbox .mSchbx .a .input{margin-left:10px;}
.adstrList .btnbox .mSchbx .b{float:right;padding-right:2px;}
.adstrList .btnbox .mSchbx .b .inp{width:126px;height:20px;margin-right:15px;padding:2px 6px 0 6px;vertical-align:middle;}
.adstrList .btnbox .mSchbx .b img{vertical-align:middle;}

/*회원등록*/
.Membx input{vertical-align:-2px;}
.Membx img{vertical-align:-2px;}
.Membx .mbs{margin-bottom:45px;padding:65px 0 0 219px;}
.Membx .mbs dt{float:left;width:86px;padding:2px 0 0 0;}
.Membx .mbs dd{float:left;width:646px;padding-left:24px;border-left:1px solid #c7c7c7;}
.Membx .mbs .mbsIn{width:646px;}
.Membx .mbs .mbsIn dt{width:71px;padding:6px 15px 0 0;text-align:right;}
.Membx .mbs .mbsIn dd{width:560px;height:32px;padding:0;border:0;}
.Membx .mbs .mbsIn dd .inp{height:21px;padding:2px 6px 0 6px;}
.Membx .mbs .mbsIn dd button{margin:0;padding:0;border:0;text-indent:-9999px;cursor:pointer;}
.Membx .mbs .chkbx{width:78px;height:24px;background:url(../images/bt_check.gif) no-repeat;}
.Membx .mbs .ichk{margin-left:13px;}
.Membx .mbs .i6 label{margin-right:20px;}
.Membx .mbs .i7 label{margin-right:20px;}
.Membx .mbs2{padding:0 0 0 219px;}
.Membx .mbs2 .calbx{margin-left:10px;}
.Membx .mbs2 dt{float:left;width:86px;padding:2px 0 0 0;}
.Membx .mbs2 dd{float:left;width:646px;padding-left:24px;border-left:1px solid #c7c7c7;}
.Membx .mbs2 .mbsIn{width:646px;}
.Membx .mbs2 .mbsIn dt{width:71px;padding:6px 15px 0 0;text-align:right;}
.Membx .mbs2 .mbsIn dd{width:560px;height:26px;padding:0;border:0;}

.joinbx{width:670px;margin:0 auto;}
.joinbx h3{margin:25px 0 10px 0;}
.joinbx .scl{overflow:auto;overflow-x:hidden;width:655px;height:140px;padding:5px;border:1px solid #cbcbcb;}
.joinbx .scl h4{margin-bottom:10px;font-size:13px;}
.joinbx .scl h5{margin-bottom:5px;font-size:12px;}
.joinbx .scl .s1{margin-bottom:5px;}
.joinbx .scl .s2{margin-bottom:5px;}
.joinbx .scl .s3{margin-bottom:5px;}
.joinbx .scl .s4 li{margin-bottom:8px;line-height:17px;}
.joinbx .scl .s5 dt{margin-bottom:8px;}
.joinbx .scl .s5 dd{margin-bottom:13px;line-height:17px;}
.joinbtn{padding:30px 0;}
.joinbtn .j1{float:left;width:370px;}
.joinbtn .j1 label{margin-right:5px;}
.joinbtn .j2{float:left;width:298px;text-align:right;}

.Wedbox{padding:45px 0 0 0;}
.Wedbox .Wedphoto{float:left;margin-right:45px;}
.Wedbox .WedCont{float:left;width:350px;}
.Wedbox .WedCont .Wtitle{margin-bottom:25px;}
.Wedbox .WedCont .Wtitle dt{margin-bottom:18px;font-size:38px;}
.Wedbox .WedCont h3{margin-bottom:3px;}
.Wedbox .sGallery{margin-bottom:20px;}
.Wedbox .sGallery li{float:left;margin-left:7px;}
.Wedbox .sGallery li.f{margin:0;}
.Wedbox .cGallery li{float:left;margin-left:7px;}
.Wedbox .cGallery li.f{margin:0;}

.Weddpop{position:absolute;top:0;left:0;border:1px solid #cbcbcb;}
.Weddpop .photo{float:left;border-right:1px solid #cbcbcb;}
.Weddpop .wedinfo{float:left;width:360px;height:460px;padding:30px 0 0 25px;background:#fff;}
.Weddpop .wedinfo h3{font-size:12px;margin-bottom:10px;}
.Weddpop .wedinfo .info{width:340px;margin-bottom:20px;}
.Weddpop .wedinfo .info dt{margin-bottom:15px;}
.Weddpop .wedinfo .smList{width:340px;}
.Weddpop .wedinfo .smList li{float:left;margin:0 5px 5px 0;} 
.Weddpop .close{position:absolute;top:11px;right:12px;}

.recruitbox{height:316px;padding:110px 0 0 535px;background:url(../images/vi_recruit.jpg) no-repeat;}
.recruitbox h3{margin-bottom:25px;}
.recruitbox .recruitStep dt{float:left;font-weight:bold;}
.recruitbox .recruitStep dd{margin-bottom:5px;}
.recruitcp{margin-bottom:30px;}

.cpnbox{height:330px;padding:65px 0 0 0;background:url(../images/bg_company.jpg) 100% 0 no-repeat;}
.cpnbox h3{margin-bottom:25px;}

.mapbox{height:192px;padding:237px 0 0 618px;background:url(../images/bg_map.gif) 0 0 no-repeat;line-height:23px;}

.Staffbox{padding:0 0 0 650px;height:426px;background:url(../images/vi_recruit.jpg) no-repeat;}
.Staffbox .staffCont{float:left;width:350px;}
.Staffbox .staffCont .Wtitle{margin-bottom:25px;}
.Staffbox .staffCont .Wtitle dt{margin-bottom:18px;font-size:38px;}
.Staffbox .staffCont h3{margin-bottom:3px;}
.Staffbox .sGallery{margin-bottom:20px;}
.Staffbox .sGallery li{float:left;margin:0 0 10px 10px;}
.Staffbox .sGallery li.f{margin:0;}

.StaffPOP{position:relative;width:767px;height:492px;border:1px solid #cdcdcd;}
.StaffPOP .im{float:left;width:382px;}
.StaffPOP .Info{float:left;width:343px;padding:30px 0 0 23px;border-left:1px solid #cdcdcd;}
.StaffPOP .Info dt{font-size:16px;font-weight:bold;color:#00;}
.StaffPOP .Info .i1{margin-bottom:15px;}
.StaffPOP .Info .i2{margin-bottom:25px;}
.StaffPOP .Info .i3{padding-bottom:20px;border-bottom:1px solid #ccc;}
.StaffPOP .close{position:absolute;top:10px;right:10px;}	