{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">
	<h2>Freeboard <em>[자유게시판]</em></h2>
	<ul class="subMenu">
		<li><a href="/a/avenue/custormer">고객센터</a></li>
		<li><a href="/board/list/notice">공지사항</a></li>
		<li><a href="/board/writeForm/reservation">예약상담</a></li>
		<li><a href="/board/list/free">자유게시판</a></li>
	</ul>
	<script type="text/javascript">
		$('.subMenu > li > a').eq(3).addClass('on');
	</script>	

	<form action='/board/editAction/{{board.id}}/{{post.id}}' method='POST' enctype="multipart/form-data">
		<div class="bbsWrite resvtTb">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="15%" />
					<col width="*" />
				</colgroup>
				<tbody>
					<tr>
						<td><label for='title'>제목</label></td>
						<td><input type='text' id='title' name='title' value='{{post.title}}'></td>
					</tr>
					<tr>
						<td><label for="contents">내용</label></td>
						<td><textarea id='contents' name='contents'>{{post.contents}}</textarea></td>
					</tr>
					<tr>
						<td><label for="file">첨부파일</label></td>
						<td><input type='file' id='file' name='file'></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="savebx"><input type='image' src="/images/bt_res_save.gif" value='저장' /></div>
	</form>
</div>
{% endblock %}