{% extends "layouts/base01.html" %}
{% block contents %}
{% include "board/board.js.html" %}

	<div class="Contents">
		<h2>Freeboard <em>[자유게시판]</em></h2>
		<ul class="subMenu">
			<li><a href="/a/avenue/custormer">고객센터</a></li>
			<li><a href="/board/list/notice">공지사항</a></li>
			<li><a href="/board/writeForm/reservation">예약상담</a></li>
			<li><a href="/board/list/free">자유게시판</a></li>
		</ul>
		<script type="text/javascript">
			$('.subMenu > li > a').eq(3).addClass('on');
		</script>

		<div class="bbsView">
			<div class="dateName">{{fmtYearMoDaHoMiSe(post.ctime)}} 작성자 : {{post.member.name}}</div>
			<div class="title">{{post.title}}</div>

			<div class="con">
				{{post.contents|nl2br}}
			</div>
			
			<div class="btnbx">	{# NOTE: 관리자에서만 가능 Edit, Del, Back to List #}
				{% if login_staff %}
				<a href='/board/editForm/{{board.id}}/{{post.id}}'><img src="/images/bt_edit.gif" alt="수정" /></a>
				<a href="javascript:deletePost('{{board.id}}','{{post.id}}')"><img src="/images/bt_del.gif" alt="삭제" /></a>
				{% endif %}
				<a href='/board/list/{{board.id}}'><img src="/images/bt_list.gif" alt="목록" /></a>
			</div>
		</div>

		<ul>
		{% for a in attachments %}
			<li>
				<a href='/boardDownloadAttachment.php?id={{a.id}}'>
					첨부파일: {{a.file_name}} ({{a.file_size}} bytes)
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
