{% extends "layouts/base01.html" %}
{% block contents %}
{% include "board/board.js.html" %}
<div class="Contents">

    TITLE: {{post.title}}
    <br>

    AUTHOR: {{post.member.name}} {{post.member.email}}
    <br>

    TIME: {{fmtYearMoDaHoMiSe(post.ctime)}}
    <br>
	
	조회수: {{post.read_count}}
	<br>

    CONTENTS:<br><pre>{{post.contents}}</pre><br>
	
	<br><br>
	
	<ul>
	{% for a in attachments %}
		<li>
			<a href='/boardDownloadAttachment.php?id={{a.id}}'>
				첨부파일: {{a.file_name}} ({{a.file_size}} bytes)
			</a>
		</li>
	{% endfor %}
	</ul>
	
	<br><br>

    <a href='/board/editForm/{{board.id}}/{{post.id}}'>
		[EDIT]
	</a>
	
	<a href="javascript:deletePost('{{board.id}}','{{post.id}}')">
		[DEL] 				
	</a>
	
	<a href='/board/list/{{board.id}}'>[BACK TO LIST]</a>

	
	<br><br><br>
    {# comments #}
    <ul>
        {% for c in comments %}
            <li>
                {{c.id}}
                by {{c.member.name}} at {{fmtYearMoDaHoMiSe(post.ctime)}}
                <br>
                {{c.contents}}
                <br>
                <a href="javascript:deleteComment('{{board.id}}', '{{post.id}}', '{{c.id}}')">
                    [DEL]
                </a>
            </li>
        {% endfor %}
    </ul>
	
	<form action='/board/writeComment/{{board.id}}/{{post.id}}' method='POST'>
		<textarea name='contents'></textarea>
		<input type='submit' value='댓글 저장'>
	</form>

</div>
{% endblock %}
