ID={{board.id}}
<br>

COUNT={{board.posts.count}}
<br>

<ul>
    {% for p in board.posts %}
		<li>
			POST-ID=[{{p.id}}]
			{# , POST-COMMENT-COUNT=[{{p.comments.count}}] #}
		</li>
    {% endfor %}
</ul>
