ID={{post.id}}
<br>

TITLE={{post.title}}
<br>

CONTENTs
<pre>
[
{{post.contents}}
]
</pre>


comments-count=[{{post.comments.count}}]<br>

<ul>
	{% for c in post.comments %}
		<li>
			{{c.id}}
		</li>
	{% endfor %}
</ul>