{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">
	<h2>Staff Gallery</h2>
	<form action='/board/editAction/{{board.id}}/{{post.id}}' method='POST' enctype="multipart/form-data">
		<div class="wrtTb">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="15%" />
					<col width="*" />
				</colgroup>
				<tbody>
					<tr>
						<td><label for='var_1'>직함</label></td>
						<td><input type='text' id='var_1' name='var_1' value='{{post.var_1}}'></td>
					</tr>
					<tr>
						<td><label for="file">TITLE</label></td>
						<td><input type='text' id='title' name='title' value='{{post.title}}'></td>
					</tr>
					<tr>
						<td><label for="contents">CONTENTS</label></td>
						<td><textarea id='contents' name='contents'>{{post.contents}}</textarea></td>
					</tr>
					<tr>
						<td><label for="file">첨부파일</label></td>
						{# NOTE: 파일 업로드 항목들 (동적/추가 삭제) #}
						<td>
							<span id='file_uploads'></span>
							<input type="button" value='[추가]' onclick="javascript:addNewAttachmentRow()">
						</td>
					</tr>

					{# NOTE: SNS  #}
					<tr>
						<td><label for="file">SNS</label></td>
						<td>
							{# NOTE: SNS 주소... #}
							<input type='hidden' name='snsTypeMapDesc' value=''>
							
							
							{# NOTE: 기존 SNS 주소 삭제 #}
							<ul id='savedSnsTypes'>
								{% for stk, stv in snsTypes %}
									<li class='savedSnsTypeRows'
										id='savedSnsTypeRow_{{loop.index0}}'
										data-sns_type_id='{{stk}}'
										data-sns_type_title='{{stv.title}}'
										data-sns_type_desc='{{stv.desc}}'>
										{{stv.title}} -- {{stv.desc}}
										<a href="javascript:delSavedSnsTypeRow('#savedSnsTypeRow_{{loop.index0}}')">[삭제]</a>
									</li>
								{% endfor %}
							</ul>
							<br>
							{# NOTE: 새로운 SNS 주소 추가 #}
							<span id='snsTypeRows'></span>
							<br>
							<input type='button' value='[SNS추가]' onclick='javascript:addSnsTypeRow()'>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="savebx">
			<input type='image' src="/images/bt_res_save.gif" value='저장' />
		</div>
	</form>
</div>



{% raw %}
<script type='text/html' id='snsTypeRowTmpl'>
	<span class='snsTypeDescRow' id='span_snsTypeRow_{{newId}}'>
		SNS종류:<select class='snsTypeSel' name='snsTypeSel_{{newId}}'>
			{{#snsTypeCodes}}
				<option value='{{id}}'>{{title}}</option>
			{{/snsTypeCodes}}
		</select>
		<br>
		SNS주소:<input type='text' name='snsTypeAddr_{{newId}}' class='snsTypeAddr'>
		<br>
		<input type='button' value='[삭제]' onclick="javascript:delSnsTypeRow('#span_snsTypeRow_{{newId}}')">
		<br>
	</span>
</script>
{% endraw %}


{# NOTE: SNS관련 코드들 #}
<script type='text/javascript'>
var delSavedSnsTypeRow = function(sel){
	if(confirm('삭제하시겠습니까?')){
		$(sel).remove();
	}
}






var snsTypeCodes = {{snsTypeCodesJson|raw}};


var delSnsTypeRow = function(sel){
	$(sel).remove();
};


var addSnsTypeRow = function(){
	var newId = UUIDv4().replace(/\-/g, '');
	var s = ich.snsTypeRowTmpl({'newId': newId, 'snsTypeCodes': snsTypeCodes});
	$('#snsTypeRows').append(s);
};


$(document).ready(function(){
	$('form').submit(function(){
		var a = {};
		//
		var rows = $('#snsTypeRows > .snsTypeDescRow');
		_.each(rows, function(v){
			var $v = $(v);
			var $snsTypeSel = $v.find('select.snsTypeSel > option:selected');
			var $snsTypeAddr = $v.find('input.snsTypeAddr');
			a[$snsTypeSel.val()] = {
				'title':	$snsTypeSel.text(),
				'desc':		$snsTypeAddr.val()
			};
		});
		//
		$('.savedSnsTypeRows').each(function(idx, v){
			var $v = $(v);
			a[$v.attr('data-sns_type_id')] = {
				'title':		$v.attr('data-sns_type_title'),
				'desc':			$v.attr('data-sns_type_desc')
			};
		});
		//
		var j = JSON.stringify(a);
		//alert(j);
		$('input[name=snsTypeMapDesc]').val(j);
		//
		return true;
	});
});





</script>

{% endblock %}