{% extends "layouts/base01.html" %}
{% block contents %}
{% import "layouts/macros.html" as macros %}
{% include "board/board.js.html" %}
<div class="Contents">
	<div class="Staffx">
		<h2>Staff</h2>
		<div class="Staff clearfx">
			<div class="staffCont">
				<dl class="Wtitle">
					<dt>Introduction</dt>
					<dd>29일 한 온라인 커뮤니티에 리듬체조 선수 24명의 증명사진이 올라왔다. 금메달 0순위로 손꼽히는 예브게니아 카나예바(22·러시아)부터 손연재까지 얼굴이 반짝반짝 빛난다. 그 중에서도 특히 맨 아랫줄에 있는 손연재가 눈에 띈다. 하얀 얼굴에 선한 눈매, 생긋 웃는 미소까지 청순함이 느껴진다.</dd>
				</dl>
				<ul class="sGallery clearfx">
				  {% for p in pagination %}
					{% if getFirstAttachmentId(p.id) %}
					<li><a href="javascript:popupView('{{board_id}}', '{{p.id}}')"><img src="/boardDownloadAttachment.php?id={{getFirstAttachmentId(p.id)}}" width="41" height="41" alt="" /></a></li>
					{% else %}
					<li><a href="javascript:popupView('{{board_id}}', '{{p.id}}')"><img src="/images/bg_noimg.gif" alt="이미지 없음"></a></li>
					{% endif %}
					{% endfor %}
					{% if pagination|length < 1 %}
					<li><b>게시물이 없습니다.</b></li>
					{% endif %}
				</ul>
				
				{# 페이징 #}
				{#
				<div class="pagingbx">
					<span><a href='{{macros.boardListLink(board_id, 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prevx.gif" alt="맨처음" /></a></span>
					{% if curpage > 1 %}    
						<span><a href='{{macros.boardListLink(board_id, curpage - 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_prev.gif" alt="이전" /></a></span>
					{% else %}
						<span><img src="/images/bt_prev.gif" alt="이전" /></span>
					{% endif %}
			
					{% for pn in page_numbers %}
						{% if pn == curpage %}
							<strong>{{pn}}</strong>
						{% else %}
							<a href='{{macros.boardListLink(board_id, pn, search, by_id, by_name, by_title, by_contents)}}'>{{pn}}</a>
						{% endif %}
					{% endfor %}
			
					{% if (curpage + 1) <= pagination_info.total_pages %}
						<span><a href='{{macros.boardListLink(board_id, curpage + 1, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_next.gif" alt="다음" /></a></span>
					{% else %}
					<span><img src="/images/bt_next.gif" alt="다음" /></span>
					{% endif %}
					<span><a href='{{macros.boardListLink(board_id, pagination_info.total_pages, search, by_id, by_name, by_title, by_contents)}}'><img src="/images/bt_nextx.gif" alt="맨마지막" /></a></span>
				</div>
				#}
				
				{# write #}
				{# NOTE: 관리자만 작성 가능하게 처리해 주세요 #}
				{% if login_staff %}
				<span class="writeBtn"><a href='/board/writeForm/{{board_id}}'><img src="/images/bt_boardWrite.gif" alt="글쓰기" /></a></span>
				{% endif %}		
			</div>
		</div>		

		<div class="tibgBox"></div>
	</div>
</div>

<div class="StaffPOP2 window clearfx" style="display:none;;">
</div>

<script type="text/javascript">
$('.gnb > li > a').removeClass('on');
$('.gnb > li').eq(2).find('a').addClass('on');
$(".sGallery > li:eq(0)").css({"margin-left":0})
$(".sGallery > li:nth-child(7n+1)").css({"margin-left":0})

var changeView = function(board_id, post_id){
	$.get('/board/view/' + board_id + '/' + post_id, function(data) {
		$('.window').html(data);
	});
};

var popupView = function(board_id, post_id){
	changeView(board_id, post_id);
	var viewpop = $('.window');
	maskPopUp();
	var winH = $(window).height();
	var winW = $(window).width();
	var subwinW = $('.Staffx').width();

	$(viewpop).css('top',  winH/2-$(viewpop).height()/2);
	$(viewpop).css('left', subwinW/2-$(viewpop).width()/2);
	$(viewpop).fadeIn(2000); 
};

var maskPopUp = function(){
	var maskHeight = $(document).height();
	var maskWidth = $(window).width();
	$('#mask').css({'width':maskWidth,'height':maskHeight});
	$('#mask').fadeIn(1000);	
	$('#mask').fadeTo("slow",0.8);
};

var close = function(){
	$('#mask').hide();
	$('.window').hide();
};

</script>
{% endblock %}
