{% import "layouts/macros.html" as macros %}

    {# 게시글 목록 #}
    <ul>
        {% for p in pagination %}
			<li>
				<a href="javascript:changeView('{{board_id}}', '{{p.id}}')">
					{% if getFirstAttachmentId(p.id) %}
						<img width='10%' src='/boardDownloadAttachment.php?id={{getFirstAttachmentId(p.id)}}'>
					{% endif %}
				</a>                
			</li>
		{% endfor %}
		{% if pagination|length < 1 %}
			<li><b>게시물이 없습니다.</b></li>
		{% endif %}		
    </ul>

    {# 페이징 #}
	<ol>
		<li>TOTAL-ITEMS=[{{pagination_info.total}}]</li>
		<li>CURRENT_PAGE=[{{pagination_info.current_page}}]</li>
		<li>TOTAL-PAGES=[{{pagination_info.total_pages}}]</li>
	</ol>

    <a href='{{macros.boardViewLink(post_id, board_id, 1)}}'>
        [처음]
    </a>

    {% if curpage > 1 %}    
        <a href='{{macros.boardViewLink(post_id, board_id, curpage - 1)}}'>
            [이전]
        </a>
    {% else %}
        [이전]
    {% endif %}
	
	{{curpage}}

    {% if (curpage + 1) <= pagination_info.total_pages %}
        <a href='{{macros.boardViewLink(post_id, board_id, curpage + 1)}}'>
            [다음]
        </a>
    {% else %}
        [다음]
    {% endif %}
	
    <a href='{{macros.boardViewLink(post_id, board_id, pagination_info.total_pages)}}'>
        [마지막]
    </a>	
	

