
{#{% include "board/board.js.html" %}#}

		<div class="im">
		{% for a in attachments %}
			<img width="382" height="492" src='/boardDownloadAttachment.php?id={{a.id}}'>
		{% endfor %}		
		</div>
		
		<div class="Info">
			<dl>
				<dd class="i1">{{post.var_1}}</dd><!-- part -->
				<dt class="i2">{{post.title}}</dt>
				<dd class="i3"><div class="scrl">{{post.contents|raw|nl2br}}</div></dd> <!-- profile -->
				<!--<dd class="i4">content in</dd><ontent -->
			</dl>

			<!-- <div id='listing'></div> -->

			<div class="btnx">
				{% if login_staff %}
				<a href='/board/editForm/{{board.id}}/{{post.id}}'><img src="/images/bt_edit.gif" alt="수정" /></a>
				<a href="javascript:deletePost('{{board.id}}','{{post.id}}')"><img src="/images/bt_del_admin.gif" alt="삭제" /></a>
				<a href='/board/list/{{board.id}}'><img src="/images/bt_list_admin.gif" alt="목록" /></a>
				{% endif %}
			</div>

			{# NOTE: 스탭의 SNS 주소들... #}
			<ul class="snsBox">
			{% for stk, stv in sns_types %}
				<li>{#{{stv.title}}-- #}<a href="{{stv.desc}}">{#{{stv.desc}}#}<img src='/images/sns-icons/{{stk}}.png' width='28'></a></li>
			{% endfor %}
			</ul>
		</div>
		<div class="close"><a href="javascript:close();" onclick="close();"><img src="/images/bt_close.gif" alt="닫기" /></a></div>
	</div>
	


	{# NOTE: 다음 항목에 AJAX으로 리스팅+페이징 얻어서 붙여줌. #}

</div>
<script type='text/javascript'>
$(document).ready(function(){
	// NOTE: 리스팅+페이징 AJAX으로 얻어서 표시하기.
	$.get('/board/list/{{board.id}}?curpage={{curpage}}&sub=Y&post_id={{post.id}}', function(text){
		$('#listing').html(text);
		$('#listing > li > img').css({"width" : 50, "height" : 50});
	});


	con = $('.Info > dl > .i3 > div');
	if(con.height() > 100){
		con.addClass("scl");
	};
});
</script>
