{% extends "layouts/base01.html" %}
{% block contents %}
<div class="Contents">
	<h2>Staff Gallery</h2>
	<form action='/board/writeAction/{{board.id}}' method='POST' enctype="multipart/form-data">
		<div class="wrtTb">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="15%" />
					<col width="*" />
				</colgroup>
				<tbody>
					<tr>
						<td><label for='var_1'>직함</label></td>
						<td><input type='text' id='var_1' name='var_1'></td>
					</tr>
					<tr>
						<td><label for="file">TITLE</label></td>
						<td><input type='text' id='title' name='title'></td>
					</tr>
					<tr>
						<td><label for="contents">CONTENTS</label></td>
						<td><textarea id='contents' name='contents'></textarea></td>
					</tr>
					<tr>
						<td><label for="file">첨부파일</label></td>
						{# NOTE: 파일 업로드 항목들 (동적/추가 삭제) #}
						<td>
							<span id='file_uploads'></span>
							<input type="button" value='[추가]' onclick="javascript:addNewAttachmentRow()">
						</td>
					</tr>




					{# NOTE: SNS  #}
					<tr>
						<td><label for="file">SNS</label></td>
						<td><input type='hidden' name='snsTypeMapDesc' value=''><span id='snsTypeRows'></span><input type='button' value='[SNS추가]' onclick='javascript:addSnsTypeRow()'></td>
					</tr>

				</tbody>
			</table>
		</div>

		<div class="savebx">
			<input type='image' src="/images/bt_res_save.gif" value='저장' />
		</div>
	</form>
</div>

{# NOTE: 요게 파일 업로드 한행씩의 내용들. (요긴 꼭 raw으로 감싸삼.) #}
{% raw %}
<script type='text/html' id='newAttachmentRowTmpl'>
	<span id='file_{{newId}}'>
		<label for='file_{{newId}}'>첨부파일:</label>
		<input type='file' id='file_{{newId}}' name='file_{{newId}}'>
		<input type='button' value='[삭제]'
			onclick="javascript:deleteAttachmentRow('file_{{newId}}')">
		<br>
	</span>
</script>
{% endraw %}

{# NOTE: SNS 관련 코드들 #}

{% raw %}
<script type='text/html' id='snsTypeRowTmpl'>
	<span class='snsTypeDescRow' id='span_snsTypeRow_{{newId}}'>
		SNS종류:<select class='snsTypeSel' name='snsTypeSel_{{newId}}'>
			{{#snsTypeCodes}}
				<option value='{{id}}'>{{title}}</option>
			{{/snsTypeCodes}}
		</select>
		<br>
		SNS주소:<input type='text' name='snsTypeAddr_{{newId}}' class='snsTypeAddr'>
		<br>
		<input type='button' value='[삭제]' onclick="javascript:delSnsTypeRow('#span_snsTypeRow_{{newId}}')">
		<br>
	</span>
</script>
{% endraw %}



<script type='text/javascript'>

/** 파일첨부 **/

var addNewAttachmentRow = function(){
	var newId = UUIDv4().replace(/\-/g, '');
	//console.log(newId);
	var s = ich.newAttachmentRowTmpl({'newId': newId});	
	$(s).appendTo('#file_uploads');
};

var deleteAttachmentRow = function(attachmentRowId){
	$('span#' + attachmentRowId).remove();
};


/** SNS **/

var snsTypeCodes = {{snsTypeCodesJson|raw}};


var delSnsTypeRow = function(sel){
	$(sel).remove();
};


var addSnsTypeRow = function(){
	var newId = UUIDv4().replace(/\-/g, '');
	var s = ich.snsTypeRowTmpl({'newId': newId, 'snsTypeCodes': snsTypeCodes});
	$('#snsTypeRows').append(s);
};


$(document).ready(function(){
	$('form').submit(function(){
		var a = {};
		//
		var rows = $('#snsTypeRows > .snsTypeDescRow');
		_.each(rows, function(v){
			var $v = $(v);
			var $snsTypeSel = $v.find('select.snsTypeSel > option:selected');
			var $snsTypeAddr = $v.find('input.snsTypeAddr');
			a[$snsTypeSel.val()] = {
				'title':	$snsTypeSel.text(),
				'desc':		$snsTypeAddr.val()
			};
		});
		//
		var j = JSON.stringify(a);
		//alert(j);
		$('input[name=snsTypeMapDesc]').val(j);
		//
		return true;
	});
});


</script>


{% endblock %}
