body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td{font-family:돋움,Dotum,sans-serif;font-size:12px;margin:0;padding:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
input,textarea,select{font-family:돋움,Dotum,sans-serif;font-size:12px;}
ol,ul,dl{list-style:none;}
fieldset,img{border:0;}
fieldset legend{display:none;}
table{border-collapse:collapse;border-spacing:0;}
caption{display:none;}
.clearfx{zoom:1;}
.clearfx:after{content: ".";clear:both;display:block;height:0;visibility:hidden;}

@font-face {
    font-family: 'Titillium_title03';
    src: url('Titillium_title03.eot');
    src: url('Titillium_title03.eot?#iefix') format('embedded-opentype'),
         url('Titillium_title03.ttf') format('truetype'),
         url('Titillium_title03.svg#proximanovaitalicObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumText1';
    src: url('TitilliumText1.eot');
    src: url('TitilliumText1.eot?#iefix') format('embedded-opentype'),
         url('TitilliumText1.ttf') format('truetype'),
         url('TitilliumText1.svg#proximanovaitalicObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium250wt';
    src: url('TitilliumText250wt.eot');
    src: url('TitilliumText250wt.eot?#iefix') format('embedded-opentype'),
         url('TitilliumText250wt.ttf') format('truetype'),
         url('TitilliumText250wt.svg#proximanovaitalicObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium400wt';
    src: url('TitilliumText400wt.eot');
    src: url('TitilliumText400wt.eot?#iefix') format('embedded-opentype'),
         url('TitilliumText400wt.ttf') format('truetype'),
         url('TitilliumText400wt.svg#proximanovaitalicObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium600wt';
    src: url('TitilliumText600wt.eot');
    src: url('TitilliumText600wt.eot?#iefix') format('embedded-opentype'),
         url('TitilliumText600wt.ttf') format('truetype'),
         url('TitilliumText600wt.svg#proximanovaitalicObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium800wt';
    src: url('TitilliumText800wt.eot');
    src: url('TitilliumText800wt.eot?#iefix') format('embedded-opentype'),
         url('TitilliumText800wt.ttf') format('truetype'),
         url('TitilliumText800wt.svg#proximanovaitalicObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium999wt';
    src: url('TitilliumText999wt.eot');
    src: url('TitilliumText999wt.eot?#iefix') format('embedded-opentype'),
         url('TitilliumText999wt.ttf') format('truetype'),
         url('TitilliumText999wt.svg#proximanovaitalicObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


#mask {position:absolute;left:0;top:0;z-index:14;background-color:#000;display:none;}

/*html, body{width:100%;height:100%;overflow:hidden;}*/

.headerbx{height:95px;}

.inp{border:1px solid #ccc;}
.wd1{width:126px;}
.wd2{width:254px;}

.mWrap{position:relative;}
.mWrap video{width:100%;height:100%;min-width:1280px;min-height:600px;}
.mWrap .mheaderbx{position:absolute;top:0;left:50%;z-index:2;width:1000px;margin-left:-500px;}
.mWrap .footerbx{position:absolute;bottom:15px;left:50%;width:1000px;margin-left:-500px;padding:0;border-top:0;}
.mWrap .mContents{position:relative;z-index:1;}
.mWrap .loginbx li a{color:#787878;}

.Wrap{position:relative;width:1000px;margin:0 auto 50px auto;}
.tibgBox{position:absolute;top:0;left:0;width:1000px;z-index:10;background:#fff;opacity:0.9;}

.about{position:relative;margin-top:-30px;background:url(/images/vi_about.jpg) 100% 22px no-repeat;}
.about .tibgBox{height:125px;}
.about .subMenu{top:103px;}

.Staffx{position:relative;}
.Staffx .tibgBox{height:90px;}

.recuit{position:relative;background:url(/images/vi_recruit.jpg) 0 0 no-repeat;}
.recuit .tibgBox{height:90px;}
.recuit .subMenu{top:67px;}

.cpnbox{height:362px;padding:42px 0 0 0;}
.cpnbox h3{margin-bottom:25px;font-size:20px;line-height:27px;}
.cpnbox p{margin-bottom:20px;line-height:17px;}

.mapbox{height:188px;padding:237px 0 0 618px;background:url(/images/bg_map.gif) 0 0 no-repeat;line-height:23px;}

.gnbx{position:absolute;top:75px;left:0;width:100%;height:23px;background:#000;}
.gnbx h1{float:left;}
.gnbx .gnb{position:absolute;top:0;right:0;padding:0 10px 0 0;}
.gnbx .gnb li{float:left;margin-left:10px;}
.gnbx .gnb li a{font-family:"Titillium250wt";font-size:10px;color:#fff;text-decoration:none;line-height:24px;}
.gnbx .gnb li a:hover{color:#faca44;}
.gnbx .gnb .on{color:#faca44;}

.loginbx{position:absolute;top:5px;right:0;}
.loginbx li{float:left;margin-left:10px;}
.loginbx li a{font-family:"Titillium800wt";font-size:10px;color:#000;text-decoration:none;}

.subMenu{position:absolute;top:132px;right:0;z-index:14;}
.subMenu li{float:left;margin-left:10px;}
.subMenu li a{font-size:11px;color:#9d9ba0;text-decoration:none;}
.subMenu li a:hover{color:#000;}
.subMenu li .on{color:#000;}

.subTab{position:absolute;top:165px;right:0;}
.subTab li{float:left;margin-left:10px;}
.subTab li a{font-size:11px;color:#9d9ba0;text-decoration:none;}
.subTab li .on{color:#000;}

.snsbx{position:absolute;top:48px;right:0;}
.snsbx li{float:left;margin-left:8px;}
.snsbx li a{display:block;float:left;width:22px;height:19px;background:url(../images/bt_Topsns.gif) no-repeat;text-indent:-9999px;}
.snsbx .s1 a{background-position:0 0;}
.snsbx .s2 a{background-position:-30px 0;}

.Contents{position:relative;padding:65px 0 0 0;}
.Contents h2{position:relative;font-family:"Titillium800wt";z-index:13;border-bottom:3px solid #000;font-size:72px;}
.Contents h2 span{display:block;font-size:30px;}
.Contents h2 em{font-size:37px;}
.Contents h2.tt{margin-bottom:40px;}
.Contents h2.tt2{margin-bottom:50px;}

.styleList dt{margin-bottom:5px;font-weight:bold;}
.styleList li{float:left;width:500px;margin-bottom:20px;}
.servicebx .im{float:left;}
.servicebx .im img{vertical-align:top;}
.servicebx .con{float:left;width:330px;margin-left:15px;}
.servicebx .txt{padding:15px 0 50px;}

.footerbx{padding:10px 0 50px 0;border-top:1px solid #d5d5d5;zoom:1;}
.footerbx:after{display:block;clear:both;content:'';}
.footerbx address{float:left;padding:2px 0 0 20px;background:url(../images/ic_coyright.gif) 0 2px no-repeat;font-family:"Titillium400wt";font-size:11px;}
.footerbx address strong{font-family:"Titillium800wt";font-size:11px;}
.footerbx .addr{float:right;padding:2px 0 0 20px;background:url(../images/ic_ar.gif) 0 3px no-repeat;font-family:"Titillium400wt";font-size:11px;}
.footerbx .addr strong{font-family:"Titillium800wt";font-size:11px;}

.loginCont2{padding:100px 0;}
.loginCont2 .logbx{overflow:hidden;}
.loginCont2 .delog{width:230px;margin:0 auto;}
.loginCont2 .delog h3{margin-bottom:101px;}
.loginCont2 .delog .log{overflow:hidden;width:231px;margin:0 0 14px 0;}
.loginCont2 .log dt{float:left;width:80px;}
.loginCont2 .log dd{float:left;width:151px;height:31px;}
.loginCont2 .log dd input{width:136px;height:18px;padding:4px 6px 0 6px;border:1px solid #cdcdcd;}
.loginCont2 .logbt{margin:0 0 50px 80px;}
.loginCont2 .membt{margin-left:80px;}
.loginCont2 .membt li{margin-bottom:9px;}

.loginCont{padding:10px 0;border-bottom:1px solid #d5d5d5;}
.loginCont .logbx{overflow:hidden;}
.loginCont .delog{float:left;width:475px;padding:24px 0 0 21px;}
.loginCont .delog h3{margin-bottom:101px;}
.loginCont .delog .log{overflow:hidden;width:281px;margin:0 0 14px 73px;}
.loginCont .log dt{float:left;width:80px;}
.loginCont .log dd{float:left;width:200px;height:31px;}
.loginCont .log dd input{width:181px;height:18px;padding:4px 6px 0 6px;border:1px solid #cdcdcd;}
.loginCont .logbt{margin:0 0 50px 153px;}
.loginCont .membt{margin-left:153px;}
.loginCont .membt li{margin-bottom:9px;}

.snsCont{float:left;padding:24px 0 0 21px;border-left:1px solid #ccc;}
.snsCont h3{margin-bottom:65px;}
.snsCont .log{float:left;width:285px;margin:0 0 63px 73px;}
.snsCont .snsbx{margin:0 0 8px 150px;}
.snsCont .snsbx li{float:left;margin-right:13px;}
.snsCont .snsbx li input{vertical-align:middle;}
.snsCont .snsbx li img{vertical-align:middle;}
.snsCont .snsbx li.fb, .snsbx li.tw{padding:4px 0 0 0;}
.snsCont .logbt{clear:both;}
.snsCont .tx1{width:411px;height:116px;padding:23px 0 0 0;border-top:1px solid #cdcdcd;}

.findbox{overflow:hidden;position:absolute;top:0;left:0;width:750px;border:1px solid #cbcbcb;background:#fff;}
.findbox .find{padding:10px 0 10px 23px;}
.findbox h2{margin-bottom:82px;}
.findbox dl{width:251px;}
.findbox dt{float:left;width:69px;padding:7px 0 0 0;}
.findbox dd{float:left;width:182px;height:31px;}
.findbox .inp{width:168px;height:21px;padding:3px 6px 0 6px;border:1px solid #ccc;}
.findbox .findfm{float:left;width:329px;margin-right:23px;padding:0 0 90px 0;border-right:1px solid #d6d6d6;}
.findbox .findfm2{float:left;width:363px;}
.findbox .findId{margin-bottom:102px;padding:0 0 0 28px;}
.findbox .findPw{margin-bottom:71px;padding:0 0 0 23px;}
.findbox .bT{margin-left:98px;}
.findbox .findtxt{height:55px;padding:25px 0 0 218px;background:#f0f0f0;}
.findbox .findtxt li{margin-bottom:10px;}
.findbox .close{position:absolute;top:11px;right:13px;}

.findobx2{position:absolute;top:0;right:0;width:767px;background:#fff;border:1px solid #ccc;}
.findobx2 h2{margin-bottom:88px;padding:23px 0 0 23px;}
.findobx2 .inp{width:168px;height:20px;padding:2px 6px 0 6px;border:1px solid #ccc;}
.findobx2 .ftxt{margin-bottom:90px;text-align:center;}
.findobx2 .find{width:251px;margin:0 auto 66px auto;}
.findobx2 dl{margin-bottom:14px;}
.findobx2 dt{float:left;width:69px;padding:7px 0 0 0;}
.findobx2 dd{float:left;width:182px;height:31px;}
.findobx2 .bT{display:block;padding-left:69px;}
.findobx2 .findother{height:52px;padding:28px 0 0 0;background:#f0f0f0;text-align:center;}
.findobx2 .close{position:absolute;top:11px;right:13px;}
.findobx3{position:absolute;z-index:14;width:767px;background:#fff;border:1px solid #ccc;}
.findobx3 h2{margin-bottom:131px;padding:23px 0 0 23px;}
.findobx3 .fmsg{margin-bottom:125px;text-align:center;}
.findobx3 .findother{height:52px;padding:28px 0 0 0;background:#f0f0f0;text-align:center;}
.findobx3 .close{position:absolute;top:11px;right:13px;}

.findobx4{position:absolute;z-index:14;width:767px;background:#fff;border:1px solid #ccc;}
.findobx4 h2{margin-bottom:131px;padding:23px 0 0 23px;}
.findobx4 .fmsg{margin-bottom:125px;text-align:center;}
.findobx4 .findother{height:52px;padding:28px 0 0 0;background:#f0f0f0;text-align:center;}
.findobx4 .close{position:absolute;top:11px;right:13px;}

/*홈페이지 관리*/
.adstr{margin:110px 0 100px 0;text-align:center;}

/*회원관리*/
.members{margin-bottom:80px;}
.members .inp{height:24px;}
.adstrList{width:815px;margin:0 auto 50px auto;}
.adstrList .Tbhit{padding:45px 0 5px 0;}
.adstrList .adTb{width:815px;margin:0 auto 30px auto;border-top:1px solid #ccc;}
.adstrList .adTb table{width:100%;}
.adstrList .adTb th{height:32px;border-bottom:1px solid #ccc;}
.adstrList .adTb td{height:32px;border-bottom:1px solid #ccc;text-align:center;}
.adstrList .adTb td a{color:#000;text-decoration:none;}
.adstrList .adTb .b2{text-align:left;}
.adstrList .adTb .b2 p{padding-left:50px;}
.adstrList .adTb .b2 a{color:#222;text-decoration:none;}
.adstrList .adTb .r2{text-align:left;}
.adstrList .adTb .r2 p{padding-left:15px;}
.adstrList .btnbox{position:relative;width:815px;margin:55px auto 0 auto;}
.adstrList .btnbox .ap{float:left;width:30%;}
.adstrList .btnbox .mSchbx{position:absolute;top:0;right:0;}
.adstrList .btnbox .mSchbx .a{float:left;}
.adstrList .btnbox .mSchbx .a .input{margin-left:10px;}
.adstrList .btnbox .mSchbx .b{float:left;margin-left:10px;padding-right:2px;}
.adstrList .btnbox .mSchbx .b .inp{width:126px;height:18px;margin-right:15px;padding:5px 6px 0 6px;vertical-align:middle;line-height:27px;}
.adstrList .btnbox .mSchbx .b input{vertical-align:middle;}

/*회원등록*/
.Membx input{vertical-align:-2px;}
.Membx img{vertical-align:-2px;}
.Membx .mbs{margin-bottom:45px;padding:65px 0 0 219px;}
.Membx .mbs dt{float:left;width:86px;padding:2px 0 0 0;}
.Membx .mbs dd{float:left;width:646px;padding-left:24px;border-left:1px solid #c7c7c7;}
.Membx .mbs .mbsIn{width:646px;}
.Membx .mbs .mbsIn dt{width:71px;padding:6px 15px 0 0;text-align:right;}
.Membx .mbs .mbsIn dd{width:560px;height:32px;padding:0;border:0;}
.Membx .mbs .mbsIn dd .inp{height:21px;padding:2px 6px 0 6px;}
.Membx .mbs .mbsIn dd button{margin:0;padding:0;border:0;text-indent:-9999px;cursor:pointer;}
.Membx .mbs .chkbx{width:78px;height:24px;background:url(../images/bt_check.gif) no-repeat;}
.Membx .mbs .ichk{margin-left:13px;}
.Membx .mbs .i6 label{margin-right:20px;}
.Membx .mbs .i7 label{margin-right:20px;}
.Membx .mbs2{padding:0 0 0 219px;}
.Membx .mbs2 .calbx{margin-left:10px;}
.Membx .mbs2 dt{float:left;width:86px;padding:2px 0 0 0;}
.Membx .mbs2 dd{float:left;width:646px;padding-left:24px;border-left:1px solid #c7c7c7;}
.Membx .mbs2 .mbsIn{width:646px;}
.Membx .mbs2 .mbsIn dt{width:71px;padding:6px 15px 0 0;text-align:right;}
.Membx .mbs2 .mbsIn dd{width:560px;height:26px;padding:0;border:0;}
.Membx .btnx{margin-bottom:50px;text-align:center;}
.regbtn{margin-bottom:50px;text-align:center;}

.joinbx{width:670px;margin:0 auto;}
.joinbx h3{margin:25px 0 10px 0;}
.joinbx .scl{overflow:auto;overflow-x:hidden;width:655px;height:140px;padding:5px;border:1px solid #cbcbcb;}
.joinbx .scl h4{margin-bottom:10px;font-size:13px;}
.joinbx .scl h5{margin-bottom:5px;font-size:12px;}
.joinbx .scl .s1{margin-bottom:5px;}
.joinbx .scl .s2{margin-bottom:5px;}
.joinbx .scl .s3{margin-bottom:5px;}
.joinbx .scl .s4 li{margin-bottom:8px;line-height:17px;}
.joinbx .scl .s5 dt{margin-bottom:8px;}
.joinbx .scl .s5 dd{margin-bottom:13px;line-height:17px;}
.joinbtn{padding:30px 0;}
.joinbtn label img{vertical-align:middle;}
.joinbtn .j1{float:left;width:370px;padding-top:3px;}
.joinbtn .j1 label{margin-right:5px;}
.joinbtn .j2{float:left;width:298px;text-align:right;}

.Wedbox{padding:45px 0 0 0;}
.Wedbox .Wedphoto{float:left;margin-right:45px;}
.Wedbox .WedCont{float:left;position:relative;width:350px;height:340px;}
.Wedbox .WedCont .Wtitle{margin-bottom:25px;}
.Wedbox .WedCont .Wtitle dt{margin-bottom:18px;font-family:"Titillium600wt";font-size:38px;}
.Wedbox .WedCont .Wtitle dd{line-height:17px;}
.Wedbox .WedCont .btn{position:absolute;bottom:0;right:0;text-align:right;}
.Wedbox .WedCont h3{margin-bottom:3px;}
.Wedbox .sGallery{margin-bottom:20px;}
.Wedbox .sGallery li{float:left;margin:0 0 10px 10px;}

.Wedbox .sGallery li:first-child{margin:0;}
.Wedbox .cGallery li{float:left;margin-left:7px;}
.Wedbox .cGallery li:first-child{margin:0;}

.Weddpop{position:absolute;top:0;left:0;border:1px solid #cbcbcb;}
.Weddpop .photo{float:left;border-right:1px solid #cbcbcb;}
.Weddpop .wedinfo{float:left;width:360px;height:460px;padding:30px 0 0 25px;background:#fff;}
.Weddpop .wedinfo h3{font-size:12px;margin-bottom:10px;}
.Weddpop .wedinfo .info{width:340px;margin-bottom:20px;}
.Weddpop .wedinfo .info dt{margin-bottom:15px;}
.Weddpop .wedinfo .smList{width:340px;}
.Weddpop .wedinfo .smList li{float:left;margin:0 5px 5px 0;} 
.Weddpop .close{position:absolute;top:11px;right:12px;}

.Storepop{position:absolute;top:0;left:0;z-index:85;border:1px solid #cbcbcb;}
.Storepop .photo{float:left;border-right:1px solid #cbcbcb;}
.Storepop .photo img{vertical-align:top;}
.Storepop .strinfo{float:left;width:360px;height:460px;padding:30px 0 0 25px;background:#fff;}
.Storepop .strinfo h3{font-size:12px;margin-bottom:10px;}
.Storepop .strinfo .info{width:340px;margin-bottom:20px;}
.Storepop .strinfo .info dt{margin-bottom:15px;font-weight:bold;}
.Storepop .strinfo .smList{width:340px;}
.Storepop .strinfo .smList li{float:left;margin:0 5px 5px 0;} 
.Storepop .close{position:absolute;top:11px;right:12px;}

.snsBox{position:absolute;bottom:10px;}
.snsBox li{float:left;margin-right:5px;}

.recruitbox{height:316px;padding:110px 0 0 535px;}
.recruitbox h3{margin-bottom:25px;font-size:17px;}
.recruitbox .recruitStep dt{float:left;font-weight:bold;}
.recruitbox .recruitStep dd{margin-bottom:5px;}
.recruitcp{margin-bottom:30px;}

.Staffx{background:url(/images/vi_recruit.jpg) no-repeat;}
.Staffx .staffCont{float:left;width:350px;min-height:426px;margin-left:650px;}
.Staffx .staffCont .Wtitle{margin:45px 0 25px 0;}
.Staffx .staffCont .Wtitle dt{margin-bottom:18px;font-size:38px;font-family:"Titillium400wt";}
.Staffx .staffCont .Wtitle dd{line-height:17px;}
.Staffx .staffCont h3{margin-bottom:3px;}
.Staffx .staffCont .pagingbx{margin-bottom:35px;}
.Staffx .sGallery{margin-bottom:20px;}
.Staffx .sGallery li{float:left;margin:0 0 10px 10px;}
.Staffx .sGallery li.f{margin:0;}

.resvtTb{padding:40px 0;}
.resvtTb td{height:30px;}
.resvtTb td textarea{width:747px;height:185px;}

.bbsWrite{padding:40px 0;}
.bbsWrite td{height:30px;}
.bbsWrite td textarea{width:747px;height:185px;}

.StaffPOP{position:absolute;top:0;left:0; z-index:40;width:767px;height:492px;border:1px solid #cdcdcd;background:#fff;}
.StaffPOP .im{float:left;width:382px;}
.StaffPOP .Info{float:left;position:relative;width:343px;height:462px;padding:30px 0 0 23px;border-left:1px solid #cdcdcd;background:#fff;}
.StaffPOP .Info dl{margin-bottom:30px;}
.StaffPOP .Info dt{font-size:16px;font-weight:bold;color:#00;}
.StaffPOP .Info .i1{margin-bottom:15px;}
.StaffPOP .Info .i2{margin-bottom:25px;}
.StaffPOP .Info .i3{padding-bottom:20px;border-bottom:1px solid #ccc;}
.StaffPOP .Info .i4{padding-top:15px;}
.StaffPOP .Info .imgs{}
.StaffPOP .close{position:absolute;top:10px;right:10px;}
.StaffPOP .btnx{position:absolute;bottom:0;right:0;}

.StaffPOP2{position:absolute;top:0;left:0; z-index:40;width:767px;height:492px;border:1px solid #cdcdcd;background:#fff;}
.StaffPOP2 .im{float:left;width:382px;}
.StaffPOP2 .Info{float:left;position:relative;width:343px;height:462px;padding:30px 0 0 23px;border-left:1px solid #cdcdcd;background:#fff;}
.StaffPOP2 .Info dl{margin-bottom:30px;}
.StaffPOP2 .Info dt{font-size:16px;font-weight:bold;color:#00;}
.StaffPOP2 .Info .i1{margin-bottom:15px;}
.StaffPOP2 .Info .i2{margin-bottom:25px;}
.StaffPOP2 .Info .i3{padding-bottom:20px;}
.StaffPOP2 .Info .i4{padding-top:15px;}
.StaffPOP2 .Info .imgs{margin-bottom:20px;}
.StaffPOP2 .close{position:absolute;top:10px;right:10px;}
.StaffPOP2 .btnx{text-align:right;}	

.pagingbx{text-align:center;}
.pagingbx a{margin:0 2px;color:#000;text-decoration:none;}
.pagingbx span img{margin:0 5px;vertical-align:-2px;}

.csm{height:475px;}
.csm .callbx{float:left;width:491px;padding:175px 0 0 65px;font-family:"Titillium600wt";font-size:64px;}
.csm .callbx span{display:block;margin-top:20px;font-size:35px;}
.csm  .comInfo{float:left;width:444px;padding:60px 0 0 0;}
.csm  .comInfo dl{width:385px;}
.csm  .comInfo dl dt{margin-bottom:5px;font-weight:bold;font-size:17px;}
.csm  .comInfo dl dd{margin-bottom:20px;line-height:17px;}

.scrl{overflow:auto;overflow-x:hidden;height:300px;line-height:17px;}

.servicebx2 h3{margin-bottom:20px;font-size:25px;font-family:"Titillium400wt";}
.servicebx2 h4{height:71px;margin-bottom:20px;border-bottom:1px solid #000;font-size:17px;line-height:30px;}
.servicebx2 .styleList li{float:left;width:323px;margin-right:15px;}
.servicebx2 .styleList li.last{margin-right:0;}
.servicebx2 .styleList dt{margin-bottom:5px;font-size:15px;font-family:"Titillium400wt";}
.servicebx2 .styleList dd{margin-bottom:20px;line-height:16px;}

.Stylingbx .style dt{margin-bottom:5px;font-size:15px;font-weight:bold;font-family:"Titillium400wt";}
.Stylingbx .style li{float:left;width:500px;margin-bottom:20px;}
.Stylingbx .im{float:left;}
.Stylingbx .im img{vertical-align:top;}
.Stylingbx .con{float:left;width:330px;margin-left:15px;}
.Stylingbx .txt{padding:15px 0 50px;}

.Coloringbx h3{height:46px;margin-bottom:20px;border-bottom:1px solid #000;font-size:30px;}
.Coloringbx .color li{float:left;width:323px;margin-right:15px;}
.Coloringbx .color li.last{margin-right:0;}
.Coloringbx .color dt{margin-bottom:5px;font-size:15px;font-family:"Titillium400wt";}
.Coloringbx .color dd{margin-bottom:20px;}

.Nailbx .nail .im{margin-bottom:20px;}
.Nailbx .nail li{float:left;width:225px;margin-right:30px;}
.Nailbx .nail li.last{margin:0;}
.Nailbx .nail li dl dt{margin-bottom:5px;font-weight:bold;font-size:13px;}
.Nailbx .nail li dl dd{margin-bottom:25px;line-height:17px;}

.Scalpbx{position:relative;height:650px;}
.Scalpbx .scalp .im{margin-bottom:20px;}
.Scalpbx .scalp li{float:left;width:225px;margin-right:30px;}
.Scalpbx .scalp li.last{margin:0;}
.Scalpbx .scalp li dl dt{margin-bottom:5px;font-weight:bold;font-size:15px;letter-spacing:-2px;}
.Scalpbx .scalp li dl dt em{font-size:12px;letter-spacing:0;}
.Scalpbx .scalp li dl dt.pv{margin-bottom:5px;font-size:15px;font-weight:normal;}
.Scalpbx .scalp li dl dd{margin-bottom:25px;line-height:17px;}

.deCarePro{position:absolute;top:250px;right:0;width:475px;}
.deCarePro h3{height:46px;margin-bottom:20px;border-bottom:2px solid #000;font-size:30px;}
.deCarePro dt{margin-bottom:5px;font-size:15px;font-weight:bold;}
.deCarePro dt em{font-weight:normal;}
.deCarePro dd{margin-bottom:10px;}

.Makeupbx .makeup .im{margin-bottom:20px;}
.Makeupbx .makeup li{float:left;width:225px;margin-right:30px;}
.Makeupbx .makeup li.last{margin:0;}
.Makeupbx .makeup li dl dt{margin-bottom:5px;font-weight:bold;font-size:15px;}
.Makeupbx .makeup li dl dt em{font-size:12px;letter-spacing:0;}
.Makeupbx .makeup li dl dd{margin-bottom:25px;line-height:17px;}

.servicebx3 h3{margin-bottom:20px;border-bottom:1px solid #000;font-size:30px;}
.servicebx3 .str{float:left;width:323px;margin-right:15px;}
.servicebx3 .str dt{margin-bottom:5px;font-size:15px;font-weight:bold;font-family:"Titillium400wt";}
.servicebx3 .str dd{margin-bottom:20px;}
.servicebx3 .wpem{float:left;width:662px;}
.servicebx3 .wpem li{width:323px;margin-right:10px;}
.servicebx3 .wpem li.last{margin-right:0;}
.servicebx3 .wpem dt{margin-bottom:5px;font-size:15px;font-weight:bold;}
.servicebx3 .wpem dd{margin-bottom:20px;}

.btnbx{text-align:right;}

/*공지사항 뷰*/
.bbsView{width:817px;margin:0 auto 150px auto;}
.bbsView .dateName{height:21px;}
.bbsView .title{height:22px;padding:10px 0 0 0;font-weight:bold;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.bbsView .con{margin-bottom:15px;padding:20px 0;border-bottom:1px solid #ccc;}
.bbsView .btnbx{margin-bottom:50px;}

.wrtTb{padding:40px 0 0;}
.wrtTb td{height:30px;}
.wrtTb td textarea{width:747px;height:185px;}
.savebx{padding:0 110px 50px 0;text-align:right;}

.bbsView{width:817px;margin:45px auto 0 auto;}
.bbsView .dateName{height:21px;}
.bbsView .title{height:22px;padding:10px 0 0 0;font-weight:bold;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.bbsView .con{margin-bottom:15px;padding:20px 0;border-bottom:1px solid #ccc;}
.bbsView .btnbx{margin-bottom:50px;}

#listing li{float:left;}

.writeBtn{display:block;text-align:right;}

.AdminPage{margin-bottom:150px;}
.AdminPage h1{margin-bottom:20px;font-size:20px;text-align:center;}
.AdminPage .adminList{border-top:1px solid #000;}
.AdminPage .adminList li{height:30px;padding:15px 0 0 0;border-bottom:1px solid #000;}
.AdminPage .adminList li a{color:#000;text-decoration:none;}

.boardCont{margin-bottom:50px;}
.boardCont h1{margin-bottom:20px;font-size:20px;text-align:center;}
.boardCont table{width:100%;border-top:1px solid #000;}
.boardCont th{text-align:left;}
.boardCont th,
.boardCont td{height:30px;text-align:left;border-bottom:1px solid #000;}
.boardCont td{text-align:right;}
.boardCont td a{color:#000;}

.admMemCont{width:100%;margin-bottom:50px;}
.admMemCont th{text-align:left;padding-left:20px;}
.admMemCont th, .admMemCont td{height:29px;border-bottom:1px solid #000;}

.filebx{width:100%;}
.filebx dt{float:left;width:13%;}
.filebx dd{float:left;width:87%;}